body 
{
    font-family: Arial;
    font-size: 10pt;
}

/* specify font for jQueryUI auto-complete drop-down */
.ui-widget 
{ 
    font-family: Arial; 
    font-size: 10pt; 
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button 
{
    font-family: Arial;
    font-size: 10pt; 
}

/* give table headers a solid gray background */
table 
{
    border-collapse: collapse;
    border-spacing: 0;
}
table td {
    padding: 2px .4em 2px .4em;
    border: solid #D5D5D5;
    border-width: 0 0 1px;
    white-space: nowrap;
}
table th {
    padding: 2px .4em 2px .4em;
    border-top: 1px solid #D5D5D5;
    background-color: whiteSmoke;
}

/* hyperlink buttons in table and chart */
.hlink
{
    text-decoration: underline;
    color: #0000c0;
    font-size: 9pt;
    cursor: pointer;
    margin: 0 4px 0 4px;
}

/* gray background for the 'add symbol' */
.addSymbol
{
    margin: 20px 0 20px 0;
    padding: 4px 10px 4px 10px;
    background: whiteSmoke;
    border-bottom: 1px solid #D5D5D5;
}

/* highlight matches in auto-complete drop-down */
.match
{
    font-weight: bold;
    background-color: #FFFFA0;
}

/* numeric input boxes in portfolio table */
.numeric
{
    text-align: right;
    width: 80px;
    border: 0px;
    padding: 0px;
    background-color: #FAFAFA;
}
.numeric:focus
{
    outline: #F1CA00 solid 2px;
    /*outline: none;*/
    /*background-color: #F1CA00;*/
}

/* generic utility styles */
.left
{
    text-align: left;
}
.right
{
    text-align: right;
}
.center
{
    text-align: center;
}
.middle
{
    vertical-align: middle;
}
.floatLeft
{
    float: left;
}
.floatRight
{
    float: right;
}
