@charset "utf-8";
/* 重写wijmo样式*/
.wijmo-wijdialog .wijmo-wijdialog-hasframe {
	margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* 重写jqueryui样式*/
.ui-tabs .ui-tabs-hide {
    display: none !important;
}
.ui-tabs-nav .ui-state-focus {
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

/* 重写formee样式  */
/*
 .formee select,input{
 padding: 0px;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
 margin-bottom: 0px;
 padding-left: 2px;
 padding-right: 2px;
 }
 .formee .form-table input,button,checkbox,radio,select,option{
 height: 20px;
 }
 .formee .form-table select,option{
 height: 20px;
 max-height: 20px;
 }
 */

/* 定义frame,iframe样式 */
frameset {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px;
    border-style: none;
    z-index: 0;
}
frame {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px;
    border-style: none;
    z-index: 0;
}
iframe {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    padding-top: 0px;
    margin-top: 0px;
    position: relative;
    border: 0px;
    border-style: none;
    overflow: hidden;
    z-index: 0;
}

/* 定义通用页面样式  */
* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: "Verdana", "Arial", "宋体", "Helvetica", "sans-serif";
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    overflow-y: visible;
    overflow-x: visible;
}
body {
    height: 99%;
    width: 99%;
}
html {
    overflow-y: auto;
    overflow-x: auto;
}
img, form {
    border: none;
}
a {
    color: black;
    text-align: left;
    text-decoration: none;
}

/*  page header  */
.page-title-header {
    width: 100%;
    height: 22px;
    padding-top: 8px;
    vertical-align: middle;
    padding-left: 6px;
}

/* form table */
.form-table{
    margin-bottom: 5px;
}
.form-table table {
    table-layout: fixed;
    width: 100%;
    text-overflow: ellipsis;
    border-collapse: collapse; 
}
.form-table * {
    vertical-align: middle;
}
.form-table table tbody th,.form-table table tbody td {
    height: 24px;
    max-height: 24px;
    line-height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.form-table .grid-1-12,.form-table .grid-2-12,.form-table .grid-3-12,.form-table .grid-4-12,.form-table .grid-5-12,.form-table .grid-6-12{
    height: 24px;
    max-height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.form-table .grid-7-12,.form-table .grid-8-12,.form-table .grid-9-12,.form-table .grid-10-12,.form-table .grid-11-12,.form-table .grid-12-12{
    height: 24px;
    max-height: 24px;
}
.form-table table tbody th {
    text-align: left;
    font-weight: normal;
    padding-left: 10px;
}
.form-table a {
    text-decoration: underline;
}
.form-table .operRow {
    line-height: 26px;
    border-top: none;
    text-align: center;
}
.form-table input[type="text"], .form-table input[type="password"], .form-table input[type="file"], .form-table textarea, .form-table select{
    height: 20px;
    max-height: 20px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 2px;
    max-width: 157px;
    font-size: 14px;
}
.form-table .formee-list{
    height: 20px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 2px;
    max-height: 20px;
    font-size: 14px;
}
.form-table .formee-list li{
    margin-top: 0px;
    margin-bottom: 0px;
}
.form-table .operRow {
    line-height: 26px;
    border-top: none;
    text-align: center;
}

/* list-table */
.list-table {
    
}
.list-table table {
    text-overflow: ellipsis;
    border-collapse: collapse; 
}
.list-table * {
    vertical-align: middle;
}
.list-table table th,.list-table table td {
    height: 20px;
    max-height: 20px;
    /*
    line-height: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    */
}
.list-table table th {
    height: 24px;
}
.list-table a {
    text-decoration: underline;
}
.list-table .operRow {
    width: 100%;
    text-align: right;
    line-height: 26px;
    border-top: none;
}
