@charset "utf-8";
.container {
    min-height:100%;
    height: auto !important;
    height: 100%; /*IE6不识别min-height*/
    overflow: hidden;
}
/*top部分样式表单*/
.top{
    width: 100%;
    height: 88px;
    top: 0px;
}
.top-header{
    width: 100%;
    height: 28px;
}
.top-content{
	width:100%;
	height:60px;
}
.menu{
    margin-left: 5px;
    width:200px;
}
.menu-itmes-container{
	position: absolute ;
	top:28px;
	left:5px;
	z-index: 999;
	display: none;
}
.choose-skin{
    margin-top:4px;
    margin-right:5px;
    float: right;
}
.top-spliter{
    position: absolute;
    width: 100%;
    height: 1px;
    top: 87px;
}
/* center */
.center{
	position: relative;
}
/*footer部分样式表单*/
.footer{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 25px;/*脚部的高度*/

}