@charset "utf-8";
.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/*top部分样式表单*/
.top{
    width: 100%;
    height: 88px;
    top: 0px;
}
.top-header{
    width: 100%;
    height: 28px;
}
.top-content{
	width:100%;
	height:60px;
}
.menu{
    margin-left:5px;
    width:400px;
}
/*改变显示的菜单的默认的padding*/
#menuLink a{
    padding-top: 0px;
    padding-bottom: 0px;
}
#menuItems a{
    padding-top: 3px;
    padding-bottom: 3px;
}
.menu-itmes-container{
	position: absolute ;
	top:0px;
	left:5px;
	z-index: 999;
}
.menu-tool{
    
}
.menu-tool-itmes-container{
    
}
.menu-tool-itmes{
    
}
.choose-skin{
    margin-top:4px;
    margin-right:5px;
    float: right;
}
.top-spliter{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 86px;
}
/* center */
.center{
	width: 100%;
    height: 100%;
}
.center-left{
    
}
.center-main{
    
}
/*footer部分样式表单*/
.footer{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 25px;/*脚部的高度*/
}