<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>wap填报首页</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<block th:replace="fragments/bootstrap_header::common_replace">
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="../../webjars/themes/layui/layui/css/layui.css" th:href="@{/webjars/themes/layui/layui/css/layui.css}" media="all">
		<link rel="stylesheet" type="text/css" href="../../webjars/themes/layui/style/admin.css" th:href="@{/webjars/themes/layui/style/admin.css}" media="all">
		<!-- js -->
		<script type="text/javascript" charset="utf-8" src="../../webjars/themes/layui/layui/layui.js" th:src="@{/webjars/themes/layui/layui/layui.js}"></script>
		<script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var _contextPath = /*[[@{/}]]*/'';
            /*]]>*/
		</script>
	</block>
</head>
<body>
<div class="nav_view">
	<a id="toIndex">
		<div class="nav_img">
		</div>
	</a>
	<div class="nav_title">wap填报首页</div>
</div>
<div class="container">
	<div class="row view_top">
		<div class="col-sm-12 col-xs-12">
			<div class="list-group">
				<a id="toRegisterPersonal" class="list-group-item div-box">
					<h5 class="list-group-item-heading text-nol">绑定机构:</h5>
					<h5 class="list-group-item-text text-set" th:text="${dizi}"></h5>
				</a>
			</div>
			<div class="list-group">
				<a id="toClientInfoPage"  class="list-group-item div-box">
					<h5 class="list-group-item-heading text-nol">用户名:</h5>
					<h5 class="list-group-item-text text-all" th:text="${username}"></h5>
				</a>
			</div>
			<div class="list-group">
				<div class="list-group-item div-box">
					<h5 class="list-group-item-heading text-nol">登录账号:</h5>
					<h5 class="list-group-item-text text-get" th:text="${number}"></h5>
				</div>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="list-group">
				<a id="toAgriculturalDemand" class="list-group-item div-box">
					<div class="div-center">
						<img th:src="@{/images/wap/buy.jpg}" alt="" class="img-circle">
						<h4 class="list-group-item-heading text-nol text-c">我要买</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="list-group">
				<a id="toAgricultureProducts"  class="list-group-item div-box">
					<div class="div-center">
						<img th:src="@{/images/wap/mai.jpg}" alt="" class="img-circle">
						<h4 class="list-group-item-heading text-all text-c">我要卖</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="list-group">
				<a id="toAgriculturalLaon" class="list-group-item div-box">
					<div class="div-center">
						<img th:src="@{/images/wap/dai.jpg}" alt="" class="img-circle">
						<h4 class="list-group-item-heading text-get text-c">我要贷</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="list-group">
				<a id="toAgricultureQuestions" class="list-group-item div-box">
					<div class="div-center">
						<img th:src="@{/images/wap/wen.jpg}" alt="" class="img-circle">
						<h4 class="list-group-item-heading text-set text-c">我要问</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:inline="javascript">
    layui.config({
        base: /*[[@{/webjars/themes/layui/}]]*/_contextPath + 'webjars/themes/layui/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index',  'jquery'], function(){
        var $ = layui.jquery;
        //跳转到我要买页面
        $('#toAgriculturalDemand').on('click', function(){
            window.location.href=/*[[@{/wap/client/agriculturalDemand/toQueryPageList}]]*/ '';
        });
        //跳转到我要卖页面
        $('#toAgricultureProducts').on('click', function(){
            window.location.href=/*[[@{/wap/client/agricultureProducts/toQueryPageList}]]*/ '';
        });
        //跳转到我要贷页面
        $('#toAgriculturalLaon').on('click', function(){
            window.location.href=/*[[@{/wap/client/agricultureLaon/toQueryPageList}]]*/ '';
        });
		//跳转到我要问页面
        $('#toAgricultureQuestions').on('click', function(){
            window.location.href=/*[[@{/wap/client/agricultureQuestions/toQueryPageList}]]*/ '';
        });
        //跳转到修改页面
        $('#toClientInfoPage').on('click', function(){
            window.location.href=/*[[@{/wap/client/info/toClientInfoPage}]]*/ '';
        });


    })
</script>
</body>