<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>queryOperatorPostList</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<block th:replace="fragments/easyui_header::common_replace">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css" th:href="@{/webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/viewer/css/viewer.min.css" th:href="@{/webjars/js/viewer/css/viewer.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/css/icons.css" th:href="@{/webjars/css/icons.css}"/>
	<!-- customize -->
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/js/jquery-easyui/themes/bootstrap/easyui.css" th:href="@{/webjars/themes/easyui/css/easyui.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/css/commons.css" th:href="@{/webjars/themes/easyui/css/commons.css}"/>
	
	<!-- jquery -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
	<!-- jqueryui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-ui/js/jquery-ui.custom.js" th:src="@{/webjars/js/jquery-ui/js/jquery-ui.custom.js}"></script>
	<!-- easyui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/ext.easyui.js" th:src="@{/webjars/themes/easyui/js/ext.easyui.js}"></script>
	<!-- other -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/datepicker/WdatePicker.js" th:src="@{/webjars/js/datepicker/WdatePicker.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/jquery.form.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/jquery.validator.js" th:src="@{/webjars/js/nice-validator/jquery.validator.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/local/zh-CN.js" th:src="@{/webjars/js/nice-validator/local/zh-CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/viewer/js/viewer-jquery.min.js" th:src="@{/webjars/js/viewer/js/viewer-jquery.min.js}"></script><!-- viewer -->
	<!-- customize -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/commons.js" th:src="@{/webjars/themes/easyui/js/commons.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/components.js" th:src="@{/webjars/themes/easyui/js/components.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var _contextPath = /*[[@{/}]]*/'/webdemo/';
	/*]]>*/
	</script>
</block>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var treegrid = null;
var orgTree = null;
$(document).ready(function() {
	var  $editALink = $("#editALink");
	var  $deleteALink = $("#deleteALink");
	var  $enableALink = $("#enableALink");
	var  $disableALink = $("#disableALink");
	var  $configPostAuthALink = $("#configPostAuthALink");
	var  $configPostOperatorALink = $("#configPostOperatorALink");
	
	vcTree = $('#vcTree').tree({
		url : /*[[@{/virtualCenter/queryList(valid=true)}]]*/_contextPath + 'virtualCenter/queryList?valid=true',
		idField : 'id',
		parentField : 'parentId',
		iconField : function(){
			return 'folder_database';
		},
		textField : 'name',
		border : false,
		onClick : function(node){
			$('#virtualCenterName').val(node.name);
			$('#vcid').val(node.id);
			
			$('#grid').datagrid('load',{
				vcid: $("#vcid").val(),
				name: $("#name").val(),
				code: $("#code").val(),
			});
		}
	});
	
	orgTree = $('#orgTree').tree({
		url : /*[[@{/organization/queryList(valid=true)}]]*/_contextPath + 'organization/queryList?valid=true',
		idField : 'id',
		parentField : 'parentId',
		iconField : function(){
			return 'folder_user';
		},
		textField : 'name',
		border : false,
		onClick : function(node){
			$('#treegrid').treegrid('load',{
				organizationId: node.id
			});
		}
	});
	
	treegrid = $('#treegrid').treegrid({
		url : /*[[@{/post/queryList}]]*/_contextPath + 'post/queryList',
		idField : 'id',
		parentField : 'parentId',
		treeField : 'name',
		striped : true,
		iconField : function(item){
			return 'group_group';	
		},
		fit : true,
		fitColumns : true,
		border : false,
		frozenColumns : [ [ {
			title : '职位id',
			field : 'id',
			width : 150,
			hidden : true
		},{
			field : 'parentId',
			title : '上级职位ID',
			width : 150,
			hidden : true
		},{
			field : 'name',
			title : '职位名称',
			width : 200
		}, {
			field : 'code',
			title : '职位编号',
			width : 230
		},{
			field : 'organization',
			title : '所属组织',
			formatter : function(value, row, index) {
				if(value){
					if(value.name){
						return value.name;
					}else{
						return "";
					}
				}else{
					return "";
				}
			}
		}] ],
		columns : [ [{
			field : 'valid',
			title : '是否有效',
			width : 80,
			formatter : function(value, row, index) {
				var str = '';
				if(value == '1'){
					return "有效";
				}else{
					return "无效";
				}
			}
		},{
			field : 'fullName',
			title : '职位全称',
			width : 150,
			hidden : true
		},{
			field : 'remark',
			title : '备注',
			width : 200,
		}
		,{
			field : 'action',
			title : '操作',
			width : 100,
			formatter : function(value, row, index) {
				var str = '';
				if(!row.valid && $.canEnable){
					str += $.formatString('<img onclick="enableFun(\'{0}\',\'{1}\');" src="{2}" title="启用"/>', row.id, row.name, _contextPath + 'webjars/css/images/extjs_icons/control/control_play_blue.png');
					str += '&nbsp;';
				}
				if($.canModify){
					str += $.formatString('<img onclick="editFun(\'{0}\',\'{1}\');" src="{2}" title="编辑"/>', row.id, row.name, _contextPath + 'webjars/css/images/extjs_icons/pencil.png');
					str += '&nbsp;';
				}
				
				if($.canDelete){
					str += $.formatString('<img onclick="deleteFun(\'{0}\',\'{1}\');" src="{2}" title="删除"/>', row.id, row.name, _contextPath + 'webjars/css/images/extjs_icons/pencil_delete.png');
					str += '&nbsp;';
				}
				if(row.valid && $.canDisable){
					str += $.formatString('<img onclick="disableFun(\'{0}\',\'{1}\');" src="{2}" title="禁用"/>', row.id, row.name, _contextPath + 'webjars/css/images/extjs_icons/control/control_stop_blue.png');
					str += '&nbsp;';
				}
				if ($.configPostAuth) {
					str += $.formatString('<img onclick="configPostAuth(\'{0}\',\'{1}\');" src="{2}" title="配置职位权限"/>', row.id, row.name,_contextPath + 'webjars/css/images/extjs_icons/database_key.png');
				}
				if ($.configPostOperator) {
					str += $.formatString('<img onclick="configPostOperator(\'{0}\',\'{1}\');" src="{2}" title="配置职位人员"/>', row.id, row.name,_contextPath + 'webjars/css/images/extjs_icons/folder/folder_user.png');
				}
				return str;
			}
		}
		] ],
		toolbar : '#toolbar',
		onContextMenu : function(e, row) {
			e.preventDefault();
			$(this).treegrid('unselectAll');
			$(this).treegrid('select', row.id);
			$('#menu').menu('show', {
				left : e.pageX,
				top : e.pageY
			});
		},
		onLoadSuccess : function() {
			parent.$.messager.progress('close');
			$(this).treegrid('tooltip');
			
			$editALink.linkbutton('disable');
			$deleteALink.linkbutton('disable');
			
			$enableALink.show();
			$disableALink.show();
			$enableALink.linkbutton('disable');
			$disableALink.linkbutton('disable');
			
			$configPostAuthALink.linkbutton('disable');
			$configPostOperatorALink.linkbutton('disable');
		},
		onDblClickRow : function(row){
			editFun(row.id, row.name);
		},
		onClickRow: function(row){
			$editALink.linkbutton('enable');
			$deleteALink.linkbutton('enable');
			$configPostAuthALink.linkbutton('enable');;
			$configPostOperatorALink.linkbutton('enable');
			
			if(row.valid){
				$enableALink.linkbutton('disable');
				$enableALink.hide();
				$disableALink.show();
				$disableALink.linkbutton('enable');
			}else{
				$disableALink.linkbutton('disable');
				$disableALink.hide();
				$enableALink.show();
				$enableALink.linkbutton('enable');
			}
		}
	});
});
function refreshTree(){
	var selectedNode = orgTree.tree('getSelected');
	orgTree.tree('reload');
	if(selectedNode){
		treegrid.treegrid('load',{
			organizationId: '',
			parentPostId: ''
		});

	}
}
function deselect(){
	var selectedNode = orgTree.tree('getSelected');
	if(selectedNode){
		orgTree.find(".tree-node-selected").removeClass("tree-node-selected");
		treegrid.treegrid('load',{});
	}
}
function redo() {
	var node = treegrid.treegrid('getSelected');
	if (node) {
		treegrid.treegrid('expandAll', node.id);
	} else {
		treegrid.treegrid('expandAll');
	}
}
function undo() {
	var node = treegrid.treegrid('getSelected');
	if (node) {
		treegrid.treegrid('collapseAll', node.id);
	} else {
		treegrid.treegrid('collapseAll');
	}
}
/*
 * 打开添加职位界面
 */
function addFun(id) {
	DialogUtils.progress({
        text : '加载中，请等待....'
	});
	var organizationId = '';
	if (id == undefined) {
		var rows = treegrid.treegrid('getSelections');
		if(!$.ObjectUtils.isEmpty(rows)){
			id = rows[0].id;
		}else{
			id = ''
			var selectOrgRows = orgTree.tree('getSelected');
			if(selectOrgRows && selectOrgRows.id){
				organizationId = selectOrgRows.id;
			}
		}
	}
	var addUrl = /*[[@{/post/toAdd}]]*/_contextPath + 'post/toAdd';
	if(id){
		addUrl = addUrl + '?parentId=' + id;
	}
	DialogUtils.openModalDialog(
		"addPost",
		"添加职位",
		addUrl,
		500,220,function(){
		treegrid.treegrid('reload');
	});
}
/**
 * 打开编辑职位页面
 */
function editFun(id,name) {
	if (id == undefined) {
		var rows = treegrid.treegrid('getSelections');
		id = rows[0].id;
		name = rows[0].name;
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的职位");
		return ;
	}
	DialogUtils.progress({
        text : '加载中，请等待....'
	});
	DialogUtils.openModalDialog(
		"updatePost",
		"编辑职位:" + name,
		$.formatString("${contextPath}/post/toUpdatePost.action?postId={0}",id),
		500,220,function(){
			$('#treegrid').treegrid('reload');
	});
}
/*
 * 删除职位
 */
function deleteFun(id,name) {
	if (id == undefined) {
		var rows = treegrid.treegrid('getSelections');
		id = rows[0].id;
		name = rows[0].name;
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的职位");
		return ;
	}
	//判断对应职位是否能被停用
	$.post(
		'${contextPath}/post/isDeleteAble.action',
		{postId: id},
		function(data){
			if(data){
			    DialogUtils.confirm("确认提醒" , 
			    		$.formatString("是否确认删除职位_[{0}]?",name) , 
			    function(data){
			    	if(data){
			    		DialogUtils.progress({
			    	        text : '数据提交中，请等待....'
			    		});
			    		//如果确认删除对应职位
			    		$.post(
					    		'${contextPath}/post/deletePostById.action',
					    		{postId:id},
					    		function(){
					    			DialogUtils.progress('close');
					    			DialogUtils.tip("删除职位成功");
					    			$('#treegrid').treegrid('reload');
					    });
			    	}
			    });
			}else{
				DialogUtils.alert("提醒",$.formatString("职位 [{0}]存在下级职位，不能被删除。",name),"warning");
			}
	});
}
function disableFun(id,name){
	if (id == undefined) {
		var rows = treegrid.treegrid('getSelections');
		id = rows[0].id;
		name = rows[0].name;
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的职位");
		return ;
	}
	//判断对应组织是否能被停用
	$.post(
		/*[[@{/post/modifyAble}]]*/_contextPath + 'post/modifyAble',
		{id: id},
		function(data){
			if(data){
			    DialogUtils.confirm(
			    		"确认提醒" , 
			    		$.formatString("是否确认禁用职位:[{0}]?",name), 
			    function(data){
			    	if(data){
			    		DialogUtils.progress({
			    	        text : '数据提交中，请等待....'
			    		});
			    		//如果确认删除对应组织
			    		$.post(
			    				/*[[@{/operatorPost/disableById}]]*/_contextPath + 'operatorPost/disableById',
					    		{id:id},
					    		function(){
					    			DialogUtils.progress('close');
					    			DialogUtils.tip("禁用 职位成功");
					    			$('#treegrid').treegrid('reload');
					    });
			    	}
			    });
			}else{
				DialogUtils.alert("提醒","该 职位存在尚未禁用的下级 职位，不能被禁用。","warning");
			}
	});
}
function enableFun(id,name){
	if (id == undefined) {
		var rows = treegrid.treegrid('getSelections');
		id = rows[0].id;
		name = rows[0].name;
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的职位");
		return ;
	}
	//判断对应组织是否能被停用
    DialogUtils.confirm(
    		"确认提醒" , 
    		$.formatString("是否确认启用 职位:[{0}]?",name), 
    function(data){
    	if(data){
    		DialogUtils.progress({
    	        text : '数据提交中，请等待....'
    		});
    		//如果确认删除对应组织
    		$.post(
    				/*[[@{/post/enableById}]]*/_contextPath + 'post/enableById',
		    		{id:id},
		    		function(){
		    			DialogUtils.progress('close');
		    			DialogUtils.tip("启用 职位成功");
		    			$('#treegrid').treegrid('reload');
		    });
    	}
    });
}
/*
 * 配置职位权限
 */
function configPostAuth(id,name){
	if (id == undefined) {
		var rows = treegrid.treegrid('getSelections');
		id = rows[0].id;
		name = rows[0].name;
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的职位");
		return ;
	}
	DialogUtils.progress({
        text : '加载中，请等待....'
	});
	DialogUtils.openModalDialog(
		"configPostAuth",
		$.formatString("配置职位权限_[{0}]",name),
		$.formatString("${contextPath}/auth/toConfigPostAuth.action?postId={0}",id),
		450,500,function(){
			//$('#treegrid').treegrid('reload');
			//alert('reload');
		}
	);
}
//配置职位人员
function configPostOperator(id,name){
	if (id == undefined) {
		var rows = treegrid.treegrid('getSelections');
		id = rows[0].id;
		name = rows[0].name;
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的职位");
		return ;
	}
	DialogUtils.progress({
        text : '加载中，请等待....'
	});
	DialogUtils.openModalDialog(
		"configPostOperator",
		$.formatString("配置职位人员_[{0}]",name),
		$.formatString("${contextPath}/operatorRef/toConfigPostOperator.action?postId={0}",id),
		850,550,function(){
			//$('#treegrid').treegrid('reload');
			//alert('reload');
		}
	);
}
/*]]>*/
</script>
</head>
<body class="easyui-layout">
	<div data-options="region:'west',title:'虚中心',split:true,
		tools : [
			{ iconCls : 'clear',handler : function() {deselect();} } ,
			{ iconCls : 'database_refresh',handler : function() {refreshTree();} }
		]"
		style="width:230px;">
		<ul id="vcTree"></ul>
	</div> 
	
	<div data-options="region:'center',border:false">
		<div class="easyui-layout" data-options="fit:true,border:false">
			<div data-options="region:'west',title:'组织结构',split:true,
				tools : [
					{ iconCls : 'clear',handler : function() {deselect();} } ,
					{ iconCls : 'database_refresh',handler : function() {refreshTree();} }
				]"
				style="width:230px;">
				<ul id="orgTree"></ul>
			</div> 
			
			<div data-options="region:'center',border:false" style="padding:5px;background:#eee;overflow:hidden;"  title="">
				<table id="treegrid" style="width:fit;height:fit"></table>
			</div>
		</div>
		
		<div id="toolbar" style="display: none;">
			<a onclick="addFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil_add'">新增</a>
			<a id="editALink" onclick="editFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil'">编辑</a>
			<a id="deleteALink" onclick="deleteFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil_delete'">删除</a>
			<a id="enableALink" onclick="enableFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'control_play_blue'">启用</a>
			<a id="disableALink" onclick="disableFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'control_stop_blue'">禁用</a>
			<a id="configPostAuthALink" onclick="configPostAuth();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'database_key'">配置职位权限</a>
			<a id="configPostOperatorALink" onclick="configPostOperator();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'folder_user'">配置职位人员</a>
			<a onclick="redo();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'resultset_next'">展开</a> 
			<a onclick="undo();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'resultset_previous'">折叠</a> 
			<a onclick="treegrid.treegrid('reload');" href="javascript:void(0);" 
				class="easyui-linkbutton" data-options="plain:true,iconCls:'transmit'">刷新</a>
		</div>
	
		<div id="menu" class="easyui-menu" style="width: 120px; display: none;">
			<div onclick="addFun();" data-options="iconCls:'pencil_add'">新增</div>
			<div onclick="editFun();" data-options="iconCls:'pencil'">编辑</div>
			<div onclick="deleteFun();" data-options="iconCls:'pencil_delete'">删除</div>
		</div>
	</div> 
</body>
</html>