<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加个人信息</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <block th:replace="fragments/bootstrap_header::common_replace">
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="../../webjars/themes/layui/layui/css/layui.css" th:href="@{/webjars/themes/layui/layui/css/layui.css}" media="all">
        <link rel="stylesheet" type="text/css" href="../../webjars/themes/layui/style/admin.css" th:href="@{/webjars/themes/layui/style/admin.css}" media="all">
        <!-- js -->
        <script type="text/javascript" charset="utf-8" src="../../webjars/themes/layui/layui/layui.js" th:src="@{/webjars/themes/layui/layui/layui.js}"></script>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var _contextPath = /*[[@{/}]]*/'';
            /*]]>*/
        </script>
    </block>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form" lay-filter="form" id="form" style="padding: 20px 30px 20px 30px;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input id="institutionId"  name="institutionInfo.id"  class="layui-hide"/>
                    <div   id="institutionIdView"  class="layui-inline layui-hide">
                        <label class="layui-form-label">所属区域</label>
                        <div id="institutionIdViewinstitutionIdOne"  class="layui-input-inline">
                            <select  class="layui-select" name="institutionIdOne" lay-filter="institutionIdOne" id="institutionIdOne" >
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="layui-form-item">
                <div class="layui-inline" >
                    <label class="layui-form-label">用户类型<span style="color: red">*</span></label>
                    <div class="layui-input-block">
                        <select  class="layui-select" name="type" id="type" lay-verify="required" >
                            <option value="">--- 请选择 ---</option>
                            <option th:each="typeTemp:${types}" th:value="${typeTemp.code}" th:text="${typeTemp.name}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div  class="layui-form-item">
                <div class="layui-inline" >
                    <label class="layui-form-label">姓名<span style="color: red">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" id="name" name="name"
                               placeholder="请输入姓名" autocomplete="off"  lay-verify="required|name">
                    </div>
                </div>
                <div class="layui-inline" >
                    <label class="layui-form-label">手机号码<span style="color: red">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" id="linkMobileNumber" name="linkMobileNumber"
                               placeholder="请输入手机号码" autocomplete="off"  lay-verify="required|phone">
                    </div>
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">家庭总人口<span style="color: red">*</span></label>
                    <div class="layui-input-block">
                        <input type="number" class="layui-input" id="familyCount" name="familyCount" autocomplete="off"
                               lay-verify="required|number|ltzore" placeholder="请输入家庭总人口数量">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">劳动人口<span style="color: red">*</span></label>
                    <div class="layui-input-block">
                        <input type="number" class="layui-input" id="laborCount" name="laborCount" autocomplete="off"
                               lay-verify="required|number|ltzore" placeholder="请输入劳动人口数">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">土地面积(亩)<span style="color: red">*</span></label>
                    <div class="layui-input-block">
                        <input type="number" class="layui-input" id="landArea" name="landArea" autocomplete="off"
                               lay-verify="required|digital" placeholder="请输入土地面积">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">身份证号<span style="color: red">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" id="idCardNumber" name="idCardNumber"
                               placeholder="请输入身份证号" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <input type="button" lay-submit lay-filter="form-submit" id="form-submit" value="确认">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
var $_shangId = "";
var $_name = "";

    layui.config({
        base: /*[[@{/webjars/themes/layui/}]]*/_contextPath + 'webjars/themes/layui/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form','jquery'], function(){
        var $ = layui.jquery
            ,form = layui.form;

        var vList = /*[[${list}]]*/ [];
        var clientParentId = /*[[${clientParentId}]]*/ '';

        var isView = false;

        $('#institutionIdOne').empty();
        $('#institutionIdOne').append("<option value=''>所有</option>");
        $.each(vList, function (index, arg) {
            if(arg.institutionId &&  clientParentId == arg.parentId){
                $('#institutionIdOne').append("<option value='" + arg.institutionId + "'>" + arg.name + "</option>");
                isView = true;
            }
        });

        if(isView){
            $('#institutionIdView').removeClass('layui-hide');
        }else{
            $('#institutionId').val(clientParentId);
        }

        layui.form.render('select');
        //区域选择自动添加子节点
        form.on('select(institutionIdOne)', function(data){
            $('#institutionId').val('');
            $_name = data.elem[data.elem.selectedIndex].text;
            //删除所有兄弟节点
            $("#institutionIdView"+data.elem.id).nextAll().remove();
            layui.form.render('select');
            if(data.value != ''){
                $('#institutionId').val(data.value);
                setinstitutionIdList(data.value);
            }else {
                $_shangId = "";
            }
        });

        function setinstitutionIdList(vid) {
            var iv = true;
            var shangId = vid;
            $.each(vList, function (index, arg) {
                if(arg.institutionId == vid){
                    vid = arg.id;
                }
            });
            $.each(vList, function (index, arg) {
                (vid == arg.parentId) && (iv = false);

            });
            if(iv || ($_shangId == shangId && $_name =="所有")){
                layui.form.render('select');
                return false;
            }
            $_shangId = shangId;
            //添加新的选择
            var html = '<div id="institutionIdViewinstitutionIdOne'+ vid+'" class="layui-input-inline" >';
            html +=' <select name="institutionIdOne'+vid+'"  id="institutionIdOne'+vid+'" ';
            html +=' lay-filter="institutionIdOne" >';//class="layui-select"
            html +=' </select> </div>';
            $("#institutionIdView").append(html);
            //给新的选择赋值
            $('#institutionIdOne' + vid).empty();
            $('#institutionIdOne' + vid).append("<option value='"+$_shangId+"'>所有</option>");
            $.each(vList, function (index, arg) {
                if(arg.parentId && arg.parentId != null && arg.parentId != '' && vid == arg.parentId){
                    $('#institutionIdOne'+vid).append("<option value='" + arg.institutionId + "'>" + arg.name + "</option>");
                }
            });
            layui.form.render('select');
        }

        form.verify({
            name: function(value, item){
                if(value.length < 2){
                    return '名字至少2个字符';
                }
                if(value.length > 20){
                    return '名字超出长度';
                }
            },
            digital: [
                /^(\d?)+(\.\d{0,2})?$/
                ,'请输入正数'
            ]
        });

    })
</script>
</body>