/**
 * @file icon.css
 */

@font-face {
    font-family: "iconfont";
    src: url("iconfont.eot"); /* IE9 */
    src: url("iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("iconfont.woff") format("woff"), /* chrome、firefox */
    url("iconfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("iconfont.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}


.icon {
    font-family: "iconfont" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-shezhi:before {
  content: "\e605";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-suo:before {
  content: "\e616";
}

.icon-22:before {
  content: "\e60c";
}

.icon-er-up:before {
  content: "\e615";
}

.icon-diannao:before {
  content: "\e617";
}

.icon-guanji:before {
  content: "\e601";
}

.icon-weixin:before {
  content: "\e609";
}

.icon-tianjia:before {
  content: "\e649";
}

.icon-yonghu:before {
  content: "\e602";
}

.icon-baocun:before {
  content: "\e614";
}

.icon-shujuku:before {
  content: "\e60e";
}

.icon-x:before {
  content: "\e62d";
}

.icon-gengxin:before {
  content: "\e61b";
}

.icon-bianji:before {
  content: "\e685";
}

.icon-buchongiconsvg13:before {
  content: "\e667";
}

.icon-tianjia1:before {
  content: "\e626";
}

.icon-xiangxia:before {
  content: "\e6a7";
}

.icon-iconfontdaohangsanjiao:before {
  content: "\e61e";
}

.icon-duihua:before {
  content: "\e6ba";
}

.icon-riqi:before {
  content: "\e656";
}

.icon-dashujuyuyunjisuanyingyong:before {
  content: "\e6bf";
}

.icon-xiangxiajiantou01:before {
  content: "\e603";
}

.icon-jinggao:before {
  content: "\e70b";
}

.icon-jianqie:before {
  content: "\e651";
}

.icon-yingyong-copy:before {
  content: "\e604";
}

.icon-xiangmu:before {
  content: "\e6c9";
}

.icon-androidarrowdropdown:before {
  content: "\e61c";
}

.icon-androidarrowdropleft:before {
  content: "\e61f";
}

.icon-androidarrowdropright:before {
  content: "\e620";
}

.icon-androidarrowdropup:before {
  content: "\e623";
}

.icon-androidmorevertical:before {
  content: "\e668";
}

.icon-daibanmoren:before {
  content: "\e6da";
}

.icon-jianshao:before {
  content: "\e60f";
}

.icon-xialajiantou:before {
  content: "\e618";
}

.icon-rili:before {
  content: "\e624";
}

.icon-xiangxiajiantou01-copy:before {
  content: "\e709";
}

.icon-baocun1:before {
  content: "\e9a3";
}

.icon-shuaxin:before {
  content: "\e654";
}

.icon-dashuju:before {
  content: "\e619";
}

.icon-tishi:before {
  content: "\e6c0";
}

.icon-tixing:before {
  content: "\e621";
}

.icon-xiangmu1:before {
  content: "\e647";
}

.icon-shuoming:before {
  content: "\e61a";
}

.icon-jiagou:before {
  content: "\e632";
}

.icon-shouji:before {
  content: "\e681";
}

.icon-zujian-shu:before {
  content: "\e701";
}

.icon-zujian-:before {
  content: "\e606";
}

.icon-tongji:before {
  content: "\e78e";
}

.icon-biaodan:before {
  content: "\e613";
}

.icon-icon-user:before {
  content: "\e60d";
}

.icon-Components:before {
  content: "\e61d";
}

.icon-xinxi:before {
  content: "\e622";
}

.icon-reply-fill:before {
  content: "\e811";
}

.icon-set-fill:before {
  content: "\e812";
}

.icon-menu-fill:before {
  content: "\e813";
}

.icon-search:before {
  content: "\e814";
}

.icon-share:before {
  content: "\e815";
}

.icon-set-sm:before {
  content: "\e816";
}

.icon-engine:before {
  content: "\e817";
}

.icon-close:before {
  content: "\e818";
}

.icon-close-fill:before {
  content: "\e819";
}

.icon-chart-screen:before {
  content: "\e81a";
}

.icon-star:before {
  content: "\e81b";
}

.icon-circle-dot:before {
  content: "\e81c";
}

.icon-chat:before {
  content: "\e81d";
}

.icon-release:before {
  content: "\e81e";
}

.icon-list:before {
  content: "\e81f";
}

.icon-chart:before {
  content: "\e820";
}

.icon-ok-circle:before {
  content: "\e821";
}

.icon-layim-theme:before {
  content: "\e822";
}

.icon-table:before {
  content: "\e823";
}

.icon-right:before {
  content: "\e824";
}

.icon-left:before {
  content: "\e825";
}

.icon-cart-simple:before {
  content: "\e826";
}

.icon-face-cry:before {
  content: "\e827";
}

.icon-face-smile:before {
  content: "\e828";
}

.icon-survey:before {
  content: "\e829";
}

.icon-tree:before {
  content: "\e82a";
}

.icon-upload-circle:before {
  content: "\e82b";
}

.icon-add-circle:before {
  content: "\e82c";
}

.icon-download-circle:before {
  content: "\e82d";
}

.icon-templeate-1:before {
  content: "\e82e";
}

.icon-util:before {
  content: "\e82f";
}

.icon-face-surprised:before {
  content: "\e830";
}

.icon-edit:before {
  content: "\e831";
}

.icon-speaker:before {
  content: "\e832";
}

.icon-down:before {
  content: "\e833";
}

.icon-file:before {
  content: "\e834";
}

.icon-layouts:before {
  content: "\e835";
}

.icon-rate-half:before {
  content: "\e836";
}

.icon-add-circle-fine:before {
  content: "\e837";
}

.icon-prev-circle:before {
  content: "\e838";
}

.icon-read:before {
  content: "\e839";
}

.icon-404:before {
  content: "\e83a";
}

.icon-carousel:before {
  content: "\e83b";
}

.icon-help:before {
  content: "\e83c";
}

.icon-code-circle:before {
  content: "\e83d";
}

.icon-water:before {
  content: "\e83e";
}

.icon-username:before {
  content: "\e83f";
}

.icon-find-fill:before {
  content: "\e840";
}

.icon-about:before {
  content: "\e841";
}

.icon-location:before {
  content: "\e842";
}

.icon-up:before {
  content: "\e843";
}

.icon-pause:before {
  content: "\e844";
}

.icon-date:before {
  content: "\e845";
}

.icon-layim-uploadfile:before {
  content: "\e846";
}

.icon-delete:before {
  content: "\e847";
}

.icon-play:before {
  content: "\e848";
}

.icon-top:before {
  content: "\e849";
}

.icon-friends:before {
  content: "\e84a";
}

.icon-refresh-3:before {
  content: "\e84b";
}

.icon-ok:before {
  content: "\e84c";
}

.icon-layer:before {
  content: "\e84d";
}

.icon-face-smile-fine:before {
  content: "\e84e";
}

.icon-dollar:before {
  content: "\e84f";
}

.icon-group:before {
  content: "\e850";
}

.icon-layim-download:before {
  content: "\e851";
}

.icon-picture-fine:before {
  content: "\e852";
}

.icon-link:before {
  content: "\e853";
}

.icon-diamond:before {
  content: "\e854";
}

.icon-log:before {
  content: "\e855";
}

.icon-rate-solid:before {
  content: "\e856";
}

.icon-fonts-del:before {
  content: "\e857";
}

.icon-unlink:before {
  content: "\e858";
}

.icon-fonts-clear:before {
  content: "\e859";
}

.icon-triangle-r:before {
  content: "\e85a";
}

.icon-circle:before {
  content: "\e85b";
}

.icon-radio:before {
  content: "\e85c";
}

.icon-align-center:before {
  content: "\e85d";
}

.icon-align-right:before {
  content: "\e85e";
}

.icon-align-left:before {
  content: "\e85f";
}

.icon-loading-1:before {
  content: "\e860";
}

.icon-return:before {
  content: "\e861";
}

.icon-fonts-strong:before {
  content: "\e862";
}

.icon-upload:before {
  content: "\e863";
}

.icon-dialogue:before {
  content: "\e864";
}

.icon-video:before {
  content: "\e865";
}

.icon-headset:before {
  content: "\e866";
}

.icon-cellphone-fine:before {
  content: "\e867";
}

.icon-add-1:before {
  content: "\e868";
}

.icon-face-smile-b:before {
  content: "\e869";
}

.icon-fonts-html:before {
  content: "\e86a";
}

.icon-screen-full:before {
  content: "\e86b";
}

.icon-form:before {
  content: "\e86c";
}

.icon-cart:before {
  content: "\e86d";
}

.icon-camera-fill:before {
  content: "\e86e";
}

.icon-tabs:before {
  content: "\e86f";
}

.icon-fonts-code:before {
  content: "\e870";
}

.icon-fire:before {
  content: "\e871";
}

.icon-set:before {
  content: "\e872";
}

.icon-fonts-u:before {
  content: "\e873";
}

.icon-triangle-d:before {
  content: "\e874";
}

.icon-tips:before {
  content: "\e875";
}

.icon-picture:before {
  content: "\e876";
}

.icon-more-vertical:before {
  content: "\e877";
}

.icon-flag:before {
  content: "\e878";
}

.icon-loading:before {
  content: "\e879";
}

.icon-fonts-i:before {
  content: "\e87a";
}

.icon-refresh-1:before {
  content: "\e87b";
}

.icon-rmb:before {
  content: "\e87c";
}

.icon-home:before {
  content: "\e87d";
}

.icon-user:before {
  content: "\e87e";
}

.icon-notice:before {
  content: "\e87f";
}

.icon-login-weibo:before {
  content: "\e880";
}

.icon-voice:before {
  content: "\e881";
}

.icon-upload-drag:before {
  content: "\e882";
}

.icon-login-qq:before {
  content: "\e883";
}

.icon-snowflake:before {
  content: "\e884";
}

.icon-file-b:before {
  content: "\e885";
}

.icon-template:before {
  content: "\e886";
}

.icon-auz:before {
  content: "\e887";
}

.icon-console:before {
  content: "\e888";
}

.icon-app:before {
  content: "\e889";
}

.icon-prev:before {
  content: "\e88a";
}

.icon-website:before {
  content: "\e88b";
}

.icon-next:before {
  content: "\e88c";
}

.icon-component:before {
  content: "\e88d";
}

.icon-more:before {
  content: "\e88e";
}

.icon-login-wechat:before {
  content: "\e88f";
}

.icon-shrink-right:before {
  content: "\e890";
}

.icon-spread-left:before {
  content: "\e891";
}

.icon-camera:before {
  content: "\e892";
}

.icon-note:before {
  content: "\e893";
}

.icon-refresh:before {
  content: "\e894";
}

.icon-female:before {
  content: "\e895";
}

.icon-male:before {
  content: "\e896";
}

.icon-screen-restore:before {
  content: "\e897";
}

.icon-password:before {
  content: "\e898";
}

.icon-senior:before {
  content: "\e899";
}

.icon-theme:before {
  content: "\e89a";
}

.icon-tread:before {
  content: "\e89b";
}

.icon-praise:before {
  content: "\e89c";
}

.icon-star-fill:before {
  content: "\e89d";
}

.icon-rate:before {
  content: "\e89e";
}

.icon-template-1:before {
  content: "\e89f";
}

.icon-vercode:before {
  content: "\e8a0";
}

.icon-cellphone:before {
  content: "\e8a1";
}

.icon-print:before {
  content: "\e8a2";
}

.icon-cols:before {
  content: "\e8a3";
}

.icon-export:before {
  content: "\e8a4";
}

.icon-slider:before {
  content: "\e8a5";
}



