@charset "utf-8";
/* 定义frame,iframe样式 */
frameset {border:0;margin:0;padding:0;border-style: none;z-index: 0;}
frame {border:0;margin:0;padding:0;border-style: none;z-index: 0;}
iframe {border:0;margin:0;padding:0;border-style: none;z-index: 0;position: relative;/*overflow: hidden;*/}

/* 定义通用页面样式  */
* {
	border:0;margin:0;padding:0;
	font-size: 12px;
	font-family: "Microsoft YaHei","iconfont"!important, Arial, Helvetica, sans-serif;
	/*IE滚动条*/
	scrollbar-face-color:#2c3950; /*面子*/  
	scrollbar-arrow-color:#C0C0C0; /*箭头*/  
	scrollbar-3dlight-color:#C0C0C0; /*最外左*/  
	scrollbar-highlight-color:#2c3950; /*左二*/  
	scrollbar-shadow-color:#2c3950; /*右二*/  
	scrollbar-darkshadow-color:#C0C0C0; /*右一*/  
	scrollbar-track-color:#151a24; /*滑道*/ 
}
::-webkit-scrollbar-track-piece {background-color:#fff;-webkit-border-radius:0}
::-webkit-scrollbar {width:9px;height:9px}
::-webkit-scrollbar-thumb {height:50px;background-color:#e3e6e8;-webkit-border-radius:6px;outline:2px solid #fff;outline-offset:-2px;border:2px solid #fff;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5}
::-webkit-scrollbar-thumb:hover {height:50px;background-color:#0076c8;-webkit-border-radius:6px}

ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img {border: none;}
dl,dt,dd{margin:0;padding:0;display:block;}
a{text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
a:focus{text-decoration:none;outline:none;}
a:hover{text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
