@charset "utf-8";
/* 定义frame,iframe样式 */
frameset {border:0;margin:0;padding:0;border-style: none;z-index: 0;}
frame {border:0;margin:0;padding:0;border-style: none;z-index: 0;}
iframe {border:0;margin:0;padding:0;border-style: none;z-index: 0;position: relative;/*overflow: hidden;*/}
/* 定义通用页面样式  */
* {
	border:0;margin:0;padding:0;
	font-size: 12px;
	font-family: "Microsoft YaHei","iconfont"!important, Arial, Helvetica, sans-serif;
	/*IE滚动条*/
	scrollbar-face-color:#2c3950; /*面子*/  
	scrollbar-arrow-color:#C0C0C0; /*箭头*/  
	scrollbar-3dlight-color:#C0C0C0; /*最外左*/  
	scrollbar-highlight-color:#2c3950; /*左二*/  
	scrollbar-shadow-color:#2c3950; /*右二*/  
	scrollbar-darkshadow-color:#C0C0C0; /*右一*/  
	scrollbar-track-color:#151a24; /*滑道*/ 
}

ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img {border: none;}
dl,dt,dd{margin:0;padding:0;display:block;}
a{text-decoration:none;color:#fff;outline:none;blr:expression(this.onFocus=this.blur());}
a:focus{text-decoration:none;outline:none;}
a:hover{text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}

/*scrollbar*/
::-webkit-scrollbar-track-piece {background-color:#fff;-webkit-border-radius:0}
::-webkit-scrollbar {width:9px;height:9px}
::-webkit-scrollbar-thumb {height:50px;background-color:#e3e6e8;-webkit-border-radius:6px;outline:2px solid #fff;outline-offset:-2px;border:2px solid #fff;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5}
::-webkit-scrollbar-thumb:hover {height:50px;background-color:#0076c8;-webkit-border-radius:6px}

/*default*/
.toollist{overflow:hidden;padding-top:8px; padding-left:8px;}
.toollist li{float:left; width:16.66%;}
.toollist li:hover{opacity:0.9; cursor:pointer;}
.toollist li span i{display:block;float:left; width:62px; height:75px; line-height:75px; text-align:center; font-size:35px;background:url(../images/spanbg.png); margin-right:12px; color:#fff;}
.listbox{margin-right:8px;height:75px;}
.boxcolor1{background:#0076c8;}
.boxcolor2{background:#d63737;}
.boxcolor3{background:#6f61ae;}
.boxcolor4{background:#0da827;}
.boxcolor5{background:#008b72;}
.boxcolor6{background:#2c3950;}
.toollist li cite{display:block; float:left; width:70px; height:75px;}
.toollist li cite a{font-size:22px;float:left; display:block; font-style:normal; width:70px; margin-top:12px;}
.toollist li cite a p{font-style:normal;font-size:12px; color:#fff; opacity:0.55; }
.panellist{padding-left:7px;padding-top:8px; overflow:hidden;}
.panellist li{width:33.33%; float:left;}
.panelbox{margin-right:8px;}
.chartbox{height:235px; overflow:hidden;}
.infolist{padding:8px 8px 0 8px; clear:both;}
.infoleft{width:66.67%; float:left;}
.inforight{width:33.33%; float:left;}
.infoboxleft{height:353px; margin-right:3px;}
.infoboxright{height:353px; margin-left:5px;}
.tablebox{margin:8px; overflow:hidden;}
.textlist{padding:8px;}
.textlist li{line-height:30px; height:30px;*line-height:29px;*height:29px; width:100%;}
.textlist li a{display:block; float:left; font-size:12px; color:#000;}
.textlist li a:hover{color:#0594f7;}
.textlist li span{display:block;width:2px;height:2px;float:left; margin-top:15px;margin-right:8px; margin-left:8px;background:#0594f7;}
.textlist li i{font-style:normal;color:#3c4b69; position:absolute; right:20px;font-size:12px;}
.textlist li em{font-size:9px;font-style:normal;color:#fff;display:block; height:13px; width:30px; line-height:13px;border-radius:2px; float:left;margin-top:8px; margin-left:6px; text-align:center;}
.emcolor1{background:#d63737;}
.emcolor2{background:#0076c8;}
.emcolor3{background:#6f61ae;}
.smallfont{-webkit-transform-origin-x: 0;-webkit-transform: scale(0.80);font-size:12px; }
.odd{background:#f5f5f5;}
.panelbox,.infoboxleft,.infoboxright{position:relative;}
.panelmore{position:absolute;z-index:100;right:10px;top:5px;}
.panelmore a{font-size:12px;color:#415375;padding-right:6px;}
.panelmore a:hover{color:#0594f7;}
.panelmore i{font-size:12px; color:#0594f7;-webkit-transform-origin-x: 0;-webkit-transform: scale(0.80);}

/*pages*/
.pagebox{padding:10px;}
.titlename{font-size:22px; color:#0076c8; padding-bottom:20px;}
.cbox{padding-bottom:15px;}
.cboxdd dd{float:left;width:33.33%;}
.ddiv{padding-left:5px; padding-right:5px;}
.cboxdt dd{float:left; width:50%;}
.fspan{float:left; display:block; width:80px; margin-right:5px;color:#536383; font-size:14px;}
.fi{padding-right:8px; padding-left:5px;color:#536383; font-style:normal;}
.dlinfo{width:250px; margin:0 auto;height:65px; margin-top:20px;}
.dleft{width:65px; height:65px; background:#e3e6e8; float:left; border-radius:50px;}
.lgicon{line-height:65px;color:#0594f7; width:65px; text-align:center; display:block;}
.dright{padding-left:10px; float:left; padding-top:15px;}
.dright span{font-size:16px; color:#566b91;}
.dright p{font-size:12px;color:#415372;}
.textlink{color:#0076c8;}
.iconlist li{float:left;margin-right:10px;margin-bottom:10px;width:120px; height:120px; display:block;}
.iconlist li p{text-align:center; line-height:20px;}
.iconlist li .easyui-panel:hover{border:solid 1px #0076c8;cursor:pointer;}

/*404*/
.page404{width:650px; height:280px;margin:0 auto; background:url(../images/404.png) no-repeat 20px 10px; margin-top:100px;}
.page404 p{ padding-left:280px;color:#566b91;font-size:16px;}
.error404{color:#d63737;font-size:38px; padding-left:280px; padding-top:80px;}

/*mobile*/
.mobile {height: 540px!important;margin: 0 auto;padding: 102px 25px 159px 23px;width: 337px;margin-top: 40px;background: url(../images/bgiphone.png) no-repeat;transition: all .5s ease 0s}
.mobile iframe {height: 585px!important}

/* */
.icon_span {display: inline-block;width: 16px;height: 16px;opacity: 0.8;}
/* 表单 */
.text {
	/*
	border: 1px solid #A0C2E5;
	color: #44474C;
	background: #fff;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding: 0 2px;
	vertical-align: middle;
	*/
}

.searchCondition {
	/*
	border: 1px solid #A0C2E5;
	color: #44474C;
	background: #fff;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding: 0 2px;
	vertical-align: middle;
	*/
}

.longText {
	width: 270px;
}

.shortText {
	width: 70px;
}

.shortMinText {
	width: 30px;
}

.textFocus {
	border-color: #66b31e;
}

.selectInput {
	background: url('../style/images/extjs_icons/attach.png') no-repeat center right;
	border: 1px solid #A0C2E5;
	color: #44474C;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding: 0 2px;
	vertical-align: middle;
}

.clearInput {
	background: url('./images/clear.png') no-repeat center center;
}

.select {
	vertical-align: middle;
	width: 140px;
	width: 134px\9;
	height: 22px;
	line-height: 22px;
	border: 1px solid #A0C2E5;
	background: #fff;
}

textarea {
	border: 1px solid #A0C2E5;
	background: #FFF;
	vertical-align: middle;
	padding: 2px;
	overflow: auto;
}

.tarea {
	width: 99%;
}

input[type="radio"],input[type="checkbox"] {
	vertical-align: middle;
}

.common_table input{
	width:139px;
    width:133px\9;
}

label {
	color: #7d7d7d;
	margin: 0 4px 0 2px;
}

label.selected {
	color: #000;
}

/* form table */
.form {
	margin-bottom: 5px;
}

.form * {
	vertical-align: middle;
}

.form table { 
	/*
	table-layout:fixed;
	*/
	width: 100%;
	text-overflow: ellipsis;
}

.form table th,.form table td {
	height: 26px;
	padding: 2px;
	color: #333;
}

.form table th {
	background: #fafafa;
	color: #5d6973;
	text-align: left;
	border: 1px solid #e9e9e9;
	font-weight: normal;
	padding-left: 10px;
}

.narrow {
	width: 100px;
}

.narrowMin {
	width: 65px;
}

.form table td {
	background: #fff;
	border: 1px solid #e9e9e9;
}

.form td.operRow {
	line-height: 20px;
	background-color: #f2f2f2;
	border-top: none;
	text-align: center;
}

.form td.rightOperRow {
	line-height: 20px;
	background-color: #f2f2f2;
	border-top: none;
	text-align: right;
}

.form td.groupRow {
	line-height: 18px;
	padding-left: 27px;
	cursor: pointer;
	background: #f2f2f2 url(images/arrow_up.gif) no-repeat 5px center;
	color: #66B31E;
	border-bottom: none;
	border-top: none;
}

.form td.groupRow.fold {
	background-image: url(images/arrow_down.gif);
	color: #333;
}

.form .n-invalid {
	border: 1px solid #f00;
}

.form .common_table input.n-invalid {
	border: 1px solid #f00;
}

.form input.n-invalid {
	border: 1px solid #f00;
}

.form .n-right{
	vertical-align: top;
}

.form .common_table input {
	border: 1px solid #A0C2E5;
	color: #44474C;
	background: #fff;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	width: 139px;
	width: 133px\9;
	padding: 0px;
	vertical-align: middle;
}

.form input {
	border: 1px solid #A0C2E5;
	color: #44474C;
	background: #fff;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	width:80%;
	padding: 0px;
	vertical-align: middle;
}

/*
.form .common_table input{
	border: 1px solid #A0C2E5;
	color: #44474C;
	background: #fff;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding: 0px;
	vertical-align: middle;
	width:134px;
    width:128px\9;
}
*/

.form .common_table select {
	vertical-align: middle;
	width:139px;
    width:133px\9;
	height: 22px;	
	line-height: 22px;
	border: 1px solid #A0C2E5;
	background: #fff;
}

.form select {
	vertical-align: middle;
	width:80%;
	height: 22px;	
	line-height: 22px;
	border: 1px solid #A0C2E5;
	background: #fff;
}
.form textarea {
	border: 1px solid #A0C2E5;
	background: #FFF;
	vertical-align: middle;
	padding: 2px;
	overflow: auto;
}

.form input[type="radio"],.form input[type="checkbox"] {
	vertical-align: middle;
	width: 16px;
}

input.date[readonly]{
	border: 1px solid #A0C2E5;
	background-color: #fff;
}

.form input.date [readonly]{
	border: 1px solid #A0C2E5;
	background-color: #fff;
}

.form .common_table  input.date[readonly]{
	border: 1px solid #A0C2E5;
	background-color: #fff;
}

input[readonly]{
	border: 1px solid #A0C2E5;
	background-color: #efefef;  
}

.form input[readonly]{
	border: 1px solid #A0C2E5;
	background-color: #efefef;  
}

.form .common_table input[readonly]{
	border: 1px solid #A0C2E5;
	background-color: #efefef;  
}

input[disabled]{
	border: 1px solid #A0C2E5;
	background-color: #efefef;  
}

.form input[disabled]{
	border: 1px solid #A0C2E5;
	background-color: #efefef;  
}

.form .common_table input[disabled]{
	border: 1px solid #A0C2E5;
	background-color: #efefef;  
}

select[disabled]{
	border: 1px solid #A0C2E5;
	background-color: #efefef;  
}

.form select[disabled]{
	border: 1px solid #A0C2E5;
	background-color: #efefef;  
}

.form .common_table select[disabled]{
	border: 1px solid #A0C2E5;
	background-color: #efefef;  
}

/* list-table */
.list-table {
	
}

.list-table table {
	text-overflow: ellipsis;
	border-collapse: collapse;
}

.list-table * {
	vertical-align: middle;
}

.list-table table th,.list-table table td {
	height: 20px;
	max-height: 20px;
	/*
     line-height: 20px;
     padding-top: 1px;
     padding-bottom: 1px;
     padding-left: 1px;
     padding-right: 1px;
     */
}

.list-table table th {
	height: 24px;
}

.list-table a {
	text-decoration: underline;
}

.list-table .operRow {
	width: 100%;
	text-align: right;
	line-height: 26px;
	border-top: none;
}

/* 提供颜色样式 */
.tRed {
	color: #f00;
}

.tGray {
	color: #999;
}

/* 覆写datagrid样式 */
.nav_header{
	width: 100%;
	height: 21px;
	vertical-align: middle;
}