@charset "utf-8";
/* 定义frame,iframe样式 */
frameset {border:0;margin:0;padding:0;border-style: none;z-index: 0;}
frame {border:0;margin:0;padding:0;border-style: none;z-index: 0;}
iframe {border:0;margin:0;padding:0;border-style: none;z-index: 0;position: relative;/*overflow: hidden;*/}

/* 定义通用页面样式  */
* {
	border:0;margin:0;padding:0;
	font-size: 12px;
	font-family: "Microsoft YaHei","iconfont"!important, Arial, Helvetica, sans-serif;
}

ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img {border: none;}
dl,dt,dd{margin:0;padding:0;display:block;}
a{text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
a:focus{text-decoration:none;outline:none;}
a:hover{text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
