<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>operatorNotepadMain</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<block th:replace="fragments/easyui_header::common_replace">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css" th:href="@{/webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/viewer/css/viewer.min.css" th:href="@{/webjars/js/viewer/css/viewer.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/css/icons.css" th:href="@{/webjars/css/icons.css}"/>
	<!-- customize -->
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/js/jquery-easyui/themes/bootstrap/easyui.css" th:href="@{/webjars/themes/easyui/css/easyui.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/css/commons.css" th:href="@{/webjars/themes/easyui/css/commons.css}"/>
	
	<!-- jquery -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
	<!-- jqueryui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-ui/js/jquery-ui.custom.js" th:src="@{/webjars/js/jquery-ui/js/jquery-ui.custom.js}"></script>
	<!-- easyui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/ext.easyui.js" th:src="@{/webjars/themes/easyui/js/ext.easyui.js}"></script>
	<!-- other -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/datepicker/WdatePicker.js" th:src="@{/webjars/js/datepicker/WdatePicker.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/jquery.form.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/jquery.validator.js" th:src="@{/webjars/js/nice-validator/jquery.validator.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/local/zh-CN.js" th:src="@{/webjars/js/nice-validator/local/zh-CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/viewer/js/viewer-jquery.min.js" th:src="@{/webjars/js/viewer/js/viewer-jquery.min.js}"></script><!-- viewer -->
	<!-- customize -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/commons.js" th:src="@{/webjars/themes/easyui/js/commons.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/components.js" th:src="@{/webjars/themes/easyui/js/components.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var _contextPath = /*[[@{/}]]*/'/';
	/*]]>*/
	</script>
</block>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var $detailFrame = null;
var $notes = null;
var selectId = null;
$(document).ready(function() {
	$detailFrame = $("#detailFrame");
	
	//<span class="floatRight"><a href="#" class="del"></a></span>
	$notes = $('#notes').tree({
		url : /*[[@{/operator/notepad/notepads}]]*/'',
		idField : 'id',
		parentField : 'parentId',
		formatter:function(node){
			var title = node.title;
			//title = '<span style="float: right;"><a onclick="delFun(' + node.id + ');" class="del"></a></span>' + title;
			return title;
		},
		textField : function(data){
			var title = data.title;
			//title = '<span style="float: right;"><a href="javascript:void(0);" onclick="delFun(' + data.id + ');" class="del"></a></span>' + title;
			return title;
		},
		border : false,
		onLoadSuccess: function(node, data){
			if(!$.ObjectUtils.isEmpty(selectId)){
				var node = $('#notes').tree('find', selectId);
				if(node != null){
					$('#notes').tree('select',node.target);
					var detail_src = /*[[@{/operator/notepad/detail?id={0}}]]*/'';
					detail_src = $.formatString(detail_src,selectId);
					$detailFrame.attr('src',detail_src);
					return true;
				}
			}
			
			if(data.length == 0){
				var detail_src = /*[[@{/operator/notepad/detail}]]*/'';
				$detailFrame.attr('src',detail_src);
			}else{
				var node = $('#notes').tree('find', data[0].id);
				$('#notes').tree('select',node.target);
				var detail_src = /*[[@{/operator/notepad/detail?id={0}}]]*/'';
				detail_src = $.formatString(detail_src,data[0].id);
				$detailFrame.attr('src',detail_src);
			}
		},
		onClick : function(node){
			var detail_src = /*[[@{/operator/notepad/detail?id={0}}]]*/'';
			detail_src = $.formatString(detail_src,node.id);
			$detailFrame.attr('src',detail_src);
			return true;
		}
	});
});
/*
 * 新增
 */
function addFun() {
	var detail_src = /*[[@{/operator/notepad/detail}]]*/'';
	$detailFrame.attr('src',detail_src);
	return false;
}
/*
 * 删除
 */
function delFun(id,title) {
	if (id == undefined) {
		var node = $('#notes').tree('getSelected');
		if(!node){
			return false;
		}
		id = node.id;
		title = node.title;
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return false;
	}
	//判断是否确认删除指定的DataDict
	DialogUtils.confirm("确认提醒" , 
    	$.formatString("是否确认删除{0}:[{1}]?",'记事本',title) , 
    	function(data){
	    	if(data){
	    		DialogUtils.progress({
	    	        text : '数据提交中，请等待....'
	    		});
	    		var delUrl = /*[[@{/operator/notepad/notepad/{0}}]]*/'',
	    		delUrl = $.formatString(delUrl,id);
	    		//如果确认删除指定的记事本
	    		$.ajax({
				  	type: "delete",
				  	url: delUrl,
				  	datatype: 'json',
				  	success: function(args) {
				  		refreshFun();
				  	}
				});
	    	}
    });
    return false;
}
/*
 * 刷新 
 */
function refreshFun(id){
	selectId = id;
	$('#notes').tree('reload');
}
/*]]>*/
</script>
<style type="text/css">
.tree-title span a.del{
	height:16px;
	width:16px;
	display:block;
	margin-top:2px;
	margin-left:10px;
	background:url([[@{/images/icon/del.gif}]]) no-repeat center center;
}
.tree-title span a.del:link, 
.tree-title span a.del:visited {
	background:url([[@{/images/icon/del.gif}]]) no-repeat center center;
}
.tree-title span a.del:hover {
	background:url([[@{/images/icon/del_hover.gif}]]) no-repeat center center;
	height:16px;
	width:16px;
}
</style>
</head>
<body>
	<div class="easyui-layout" data-options="fit: true,border:true">
		<div data-options="region:'north',border:true" style="height: 36px;overflow: hidden;">
			<form method="post" id="queryForm" name="queryForm" class="form">
				<table>
					<tr>
						<td width="228px">
							<input id="title" name="title" class="text" type="text" value='' style="width: 100%;height: 26px;line-height: 26px;" maxlength="32"/>
						</td>
						<td>
							<a id="queryBtn" onclick="queryFun()" href="#" class="easyui-linkbutton" data-options="iconCls:'search'" style="width: 85px">查询</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
		
		<div data-options="region:'west',split:false" style="width:230px;">
			<div id="toolbar" style="padding:5px;background:#fafafa;border:1px solid #ccc;height: 40px">
				<a onclick="addFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil_add'">新增</a>
				<a onclick="delFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil_delete'">删除</a>
			</div>
			<ul id="notes"></ul>
		</div>
		
		<div data-options="region:'center'" style="padding:0px;overflow: hidden;">
			<div class="easyui-layout" data-options="fit : true,border : false">
				<iframe id="detailFrame" frameborder="0" style="border: 0; width: 100%; height: 100%;" src=""></iframe>
			</div>
		</div>
	</div>
</body>
</html>