<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>查询操作人员分页列表[queryOperatorPagedList]</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<block th:replace="fragments/easyui_header::common_replace">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css" th:href="@{/webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/viewer/css/viewer.min.css" th:href="@{/webjars/js/viewer/css/viewer.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/css/icons.css" th:href="@{/webjars/css/icons.css}"/>
	<!-- customize -->
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/js/jquery-easyui/themes/bootstrap/easyui.css" th:href="@{/webjars/themes/easyui/css/easyui.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/css/commons.css" th:href="@{/webjars/themes/easyui/css/commons.css}"/>
	
	<!-- jquery -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
	<!-- jqueryui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-ui/js/jquery-ui.custom.js" th:src="@{/webjars/js/jquery-ui/js/jquery-ui.custom.js}"></script>
	<!-- easyui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/ext.easyui.js" th:src="@{/webjars/themes/easyui/js/ext.easyui.js}"></script>
	<!-- other -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/datepicker/WdatePicker.js" th:src="@{/webjars/js/datepicker/WdatePicker.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/jquery.form.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/jquery.validator.js" th:src="@{/webjars/js/nice-validator/jquery.validator.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/local/zh-CN.js" th:src="@{/webjars/js/nice-validator/local/zh-CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/viewer/js/viewer-jquery.min.js" th:src="@{/webjars/js/viewer/js/viewer-jquery.min.js}"></script><!-- viewer -->
	<!-- customize -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/commons.js" th:src="@{/webjars/themes/easyui/js/commons.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/components.js" th:src="@{/webjars/themes/easyui/js/components.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var _contextPath = /*[[@{/}]]*/'/';
	/*]]>*/
	</script>
</block>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var orgPostTree = null;
var grid = null;
var idFieldName = 'id';
var nameFieldName = 'username'; 
var entityName = '操作人员';
$(document).ready(function(){
	var $editALink = $("#editALink");
	var $deleteALink = $("#deleteALink");
	var $enableALink = $("#enableALink");
	var $disableALink = $("#disableALink");
	var $lockALink = $("#lockALink");
	var $unlockALink = $("#unlockALink");
	var $resetPwdALink = $("#resetPwdALink");
	var $configOperatorAuthALink = $("#configOperatorAuthALink");
	var $configOperatorPostALink = $("#configOperatorPostALink");
	var $configOperatorRoleALink = $("#configOperatorRoleALink");
	
	orgPostTree = $('#orgPostTree').tree({
		url : /*[[@{/post/queryOrgPostList(valid=true)}]]*/'',
		idField : 'id',
		parentField : 'parentId',
		iconField : function(item){
			if('organization' == item.type){
				return 'folder_user';
			}else{
				return 'group_group';
			}
		},
		textField : 'name',
		border : false,
		onClick : function(node){
			//$("#organizationId").val(node.id);
			//$('#datagrid').datagrid('load',$('#queryForm').serializeObject());
		}
	});

	var orgMap = {},postMap = {},mapLoaded=false;
	grid = $('#grid').datagrid({
		url :/*[[@{/operator/queryPagedList}]]*/'',
		fit : true,
	    fitColumns : true,
		border : false,
		idField : 'id',
		pagination : true,
		pageSize : 10,
		pageList : [10,20,30,40,50],
		onBeforeLoad:function(){
			if(!mapLoaded){
				$.ajax({
				 	async: false,
				  	type : "get",
				  	url : /*[[@{/organization/queryList(valid=true)}]]*/'',
				  	datatype : 'json',
				  	success : function(args) {
				    	$.each(args,function(index,arg){
				    		orgMap[arg.id] = arg;
				    	});
				  	}
				});
				$.ajax({
				 	async: false,
				  	type : "get",
				  	url : /*[[@{/post/queryList(valid=true)}]]*/'',
				  	datatype : 'json',
				  	success : function(args) {
				    	$.each(args,function(index,arg){
				    		postMap[arg.id] = arg;
				    	});
				  	}
				});
				mapLoaded = true;
			}
		},
		loadFilter: function(data){
			var res = {total:0,rows:[]};
			if(!$.ObjectUtils.isEmpty(data)
					&& !$.ObjectUtils.isEmpty(data.list)){
				res['total'] = data.count;
				res['rows'] = data.list;
			}
			return res;
		}, 
		checkOnSelect : false,
		selectOnCheck : false,
		nowrap : true,
		striped : true,
		singleSelect : true,
		frozenColumns: [ [ 
			{title:'id',width:150,hidden:true,field:'id'},
			{title:'用户名',width:150,field:'username'}
		] ],
		columns: [ [
			{title:'名称',width:100,field:'name'},
			{title:'组织',width:100,field:'organizationId',formatter : function(value, row, index) {
				if(value && orgMap[value]){
					return orgMap[value].name;
				}else{
					return value;
				}
			}},
			{title:'职位',width:100,field:'mainPostId',formatter : function(value, row, index) {
				if(value && postMap[value]){
					return postMap[value].name;
				}else{
					return value;
				}
			}},
			{title:'是否可编辑',width:80,field:'modifyAble',formatter:$.Formatters.booleanFun},
			{title:'是否锁定',width:80,field:'locked',formatter:function(value, row, index){
				var text = '';
				if(value){
					text = '<font color="red">是</font>';
				}else{
					text = '否';
				}
				return text;
			}},
			{title:'是否有效',width:80,field:'valid',formatter:function(value, row, index){
				var text = '';
				if(value){
					text = '是';
				}else{
					text = '<font color="red">否</font>';
				}
				return text;
			}},
			{title:'失效时间',width:100,field:'invalidDate',hidden:true,formatter:$.Formatters.dateFun},
			{title:'密码错误次数',width:100,hidden:true,field:'pwdErrCount'},
			{title:'密码最后更新时间',width:100,field:'pwdUpdateDate',hidden:true,formatter:$.Formatters.dateFun},
			{title:'最后更新时间',width:100,hidden:true,field:'lastUpdateDate',hidden:true,formatter:$.Formatters.dateFun},
			{title:'创建时间',width:100,field:'createDate',formatter:$.Formatters.dateFun},
			{title:'操作',width:100,field:'_action',
				formatter : function(value, row, index) {
					var str = '';
					if(!row.modifyAble){
						return str;
					}
					if(row.locked){
						str += $.formatString('<img onclick="unlockFun(\'{0}\',\'{1}\');" src="{2}" title="解锁"/>', row.id, row.username, _contextPath + 'webjars/css/images/extjs_icons/lock/lock_open.png');
						str += '&nbsp;';
					}
					if(!row.valid){
						str += $.formatString('<img onclick="enableFun(\'{0}\',\'{1}\');" src="{2}" title="启用"/>', row.id, row.username, _contextPath + 'webjars/css/images/extjs_icons/control/control_play_blue.png');
						str += '&nbsp;';
					}
					str += $.formatString('<img onclick="editFun(\'{0}\',\'{1}\');" src="{2}" title="编辑"/>', row.id, row.username, _contextPath + 'webjars/css/images/extjs_icons/pencil.png');
					str += '&nbsp;';
					str += $.formatString('<img onclick="deleteFun(\'{0}\',\'{1}\');" src="{2}" title="删除"/>', row.id, row.username, _contextPath + 'webjars/css/images/extjs_icons/pencil_delete.png');
					str += '&nbsp;';
					if(!row.locked){
						str += $.formatString('<img onclick="lockFun(\'{0}\',\'{1}\');" src="{2}" title="锁定"/>', row.id, row.username, _contextPath + 'webjars/css/images/extjs_icons/lock/lock.png');
						str += '&nbsp;';
					}
					if(row.valid){
						str += $.formatString('<img onclick="disableFun(\'{0}\',\'{1}\');" src="{2}" title="禁用"/>', row.id, row.username, _contextPath + 'webjars/css/images/extjs_icons/control/control_stop_blue.png');
						str += '&nbsp;';
					}
					str += $.formatString('<img onclick="configOperatorAuth(\'{0}\',\'{1}\');" src="{2}" title="配置权限"/>', row.id, row.username,_contextPath + 'webjars/css/images/extjs_icons/database_key.png');
					str += '&nbsp;';
					str += $.formatString('<img onclick="configOperatorPost(\'{0}\',\'{1}\');" src="{2}" title="配置职位"/>', row.id, row.username,_contextPath + 'webjars/css/images/extjs_icons/group/group.png');
					str += '&nbsp;';
					str += $.formatString('<img onclick="configOperatorRole(\'{0}\',\'{1}\');" src="{2}" title="配置角色"/>', row.id, row.username,_contextPath + 'webjars/css/images/extjs_icons/folder/folder_user.png');
					str += '&nbsp;';
					return str;
				}
			}
		] ],
		toolbar : '#toolbar',
		onDblClickRow : function(index, row){
			if(row.modifyAble){
				editFun(row[idFieldName], row[nameFieldName]);
			}
			
		},
		onClickRow : function(index, row){
			if(row.modifyAble){
				$editALink.linkbutton('enable');
				$deleteALink.linkbutton('enable');
				
				if(row.valid){
					$enableALink.linkbutton('disable');
					$enableALink.hide();
					$disableALink.show();
					$disableALink.linkbutton('enable');
				}else{
					$disableALink.linkbutton('disable');
					$disableALink.hide();
					$enableALink.show();
					$enableALink.linkbutton('enable');
				}
				if(row.locked){
					$lockALink.linkbutton('disable');
					$lockALink.hide();
					$unlockALink.show();
					$unlockALink.linkbutton('enable');
				}else{
					$unlockALink.linkbutton('disable');
					$unlockALink.hide();
					$lockALink.show();
					$lockALink.linkbutton('enable');
				}
				
				$resetPwdALink.linkbutton('enable');
				$configOperatorAuthALink.linkbutton('enable');
				$configOperatorPostALink.linkbutton('enable');
				$configOperatorRoleALink.linkbutton('enable');
			}else{
				$editALink.linkbutton('disable');
				$deleteALink.linkbutton('disable');
				
				$enableALink.linkbutton('disable');
				$disableALink.linkbutton('disable');
				$enableALink.hide();
				$disableALink.show();
				
				$unlockALink.linkbutton('disable');
				$lockALink.linkbutton('disable');
				$unlockALink.hide();
				$lockALink.show();
				
				$resetPwdALink.linkbutton('disable');
				$configOperatorAuthALink.linkbutton('disable');
				$configOperatorPostALink.linkbutton('disable');
				$configOperatorRoleALink.linkbutton('disable');
			}
		},
		onLoadSuccess : function() {
			$(this).datagrid('unselectAll');
			$(this).datagrid('tooltip');
			
			$editALink.linkbutton('disable');
			$deleteALink.linkbutton('disable');
			
			$disableALink.linkbutton('disable');
			$enableALink.linkbutton('disable');
			$disableALink.hide();
			$enableALink.show();
			
			$lockALink.linkbutton('disable');
			$unlockALink.linkbutton('disable');
			$lockALink.hide();
			$unlockALink.show();
			
			$resetPwdALink.linkbutton('disable');
			$configOperatorAuthALink.linkbutton('disable');
			$configOperatorPostALink.linkbutton('disable');
			$configOperatorRoleALink.linkbutton('disable');
		}
	});
});
/*
 * 查询
 */
function queryFun() {
	grid.datagrid('load',$('#queryForm').serializeObject());
	return false;
}
/*
 * 新增
 */
function addFun() {
	DialogUtils.progress({
        text : '加载中，请等待....'
	});
	
	var addUrl = /*[[@{/operator/toAdd}]]*/'';
	//FIXME: 修改新增modalDialog的width,height
	DialogUtils.openModalDialog(
		"addOperator",
		"新增" + entityName,
		$.formatString(addUrl),
		500,516,
		function(){
			queryFun();
		},{maximizable : true}
	);
	return false;
}
/**
 * 编辑
 */
function editFun(id,name) {
	if (id == undefined) {
		var rows = grid.datagrid('getSelections');
		id = rows[0][idFieldName];
		name = rows[0][nameFieldName];
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return ;
	}
	DialogUtils.progress({
        text : '加载中，请等待....'
	});
	
	var updateUrl = /*[[@{/operator/toUpdate?id={0}}]]*/'';
	//FIXME: 修改编辑modalDialog的width,height
	DialogUtils.openModalDialog(
		"updateOperator",
		"编辑" + entityName + ":" + name,
		$.formatString(updateUrl,id),
        500,516,
        function(){
			queryFun();
		},{maximizable : true}
	);
	return false;
}
/*
 * 删除
 */
function deleteFun(id,name) {
	if (id == undefined) {
		var rows = grid.datagrid('getSelections');
		id = rows[0][idFieldName];
		name = rows[0][nameFieldName];
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return false;
	}
	//判断是否确认删除指定的操作人员
	DialogUtils.confirm("确认提醒" , 
    	$.formatString("是否确认删除{0}:[{1}]?",entityName,name) , 
    	function(data){
	    	if(data){
	    		DialogUtils.progress({
	    	        text : '数据提交中，请等待....'
	    		});
	    		//如果确认删除指定的操作人员
	    		$.post(
	    			/*[[@{/operator/deleteById}]]*/'',
		    		{id:id},
		    		function(data){
		    			DialogUtils.progress('close');
		    			if(data){
		    				DialogUtils.tip("删除" + entityName + "成功");
		    			}else{
		    				var errorMessage = $.formatString("删除{0}失败.可能已被处理.如有疑问,请联系管理员.",entityName);
		    				DialogUtils.alert("错误提示",errorMessage,"error");
		    			}
		    			queryFun();
			    	}
			    );
	    	}
    });
    return false;
}
/*
 * 禁用
 */
function disableFun(id,name){
	if (id == undefined) {
		var rows = grid.datagrid('getSelections');
		id = rows[0][idFieldName];
		name = rows[0][nameFieldName];
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return false;
	}
	//判断是否确认禁用指定操作人员
	DialogUtils.confirm(
    		"确认提醒" , 
    		$.formatString("是否确认禁用{0}:[{1}]?",entityName,name), 
    function(data){
    	if(data){
    		DialogUtils.progress({
    	        text : '数据提交中，请等待....'
    		});
    		//如果确认禁用指定操作人员
    		$.post(/*[[@{/operator/disableById}]]*/'',
	    		{id:id},
	    		function(data){
	    			DialogUtils.progress('close');
	    			if(data){
	    				DialogUtils.tip("禁用" + entityName + "成功.");
	    			}else{
	    				var errorMessage = $.formatString("禁用{0}失败.",entityName);
	    				DialogUtils.alert("错误提示",errorMessage,"error");
	    			}
	    			queryFun();
	    		}
		    );
    	}
    });
    return false;
}
/*
 * 启用
 */
function enableFun(id,name){
	if (id == undefined) {
		var rows = grid.datagrid('getSelections');
		id = rows[0][idFieldName];
		name = rows[0][nameFieldName];
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return false;
	}
	//判断是否确认禁用指定操作人员
	DialogUtils.confirm(
    		"确认提醒" , 
    		$.formatString("是否确认启用{0}:[{1}]?",entityName,name), 
    function(data){
    	if(data){
    		DialogUtils.progress({
    	        text : '数据提交中，请等待....'
    		});
    		//如果确认启用指定操作人员
    		$.post(/*[[@{/operator/enableById}]]*/'',
	    		{id:id},
	    		function(data){
	    			DialogUtils.progress('close');
	    			if(data){
	    				DialogUtils.tip("启用" + entityName + "成功.");
	    			}else{
	    				var errorMessage = $.formatString("启用{0}失败.",entityName);
	    				DialogUtils.alert("错误提示",errorMessage,"error");
	    			}
	    			queryFun();
		    	}
		    );
    	}
    });
    return false;
}
function lockFun(id,name){
	if (id == undefined) {
		var rows = grid.datagrid('getSelections');
		id = rows[0][idFieldName];
		name = rows[0][nameFieldName];
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return false;
	}
	//判断对应组织是否能被停用
    DialogUtils.confirm(
    		"确认提醒" , 
    		$.formatString("是否确认锁定操作员:[{0}]?",name), 
    function(data){
    	if(data){
    		DialogUtils.progress({
    	        text : '数据提交中，请等待....'
    		});
    		//如果确认删除对应组织
    		$.post(/*[[@{/operator/lockById}]]*/'',
    			{id:id},
	    		function(data){
    				DialogUtils.progress('close');
	    			if(data){
	    				DialogUtils.tip("锁定" + entityName + "成功.");
	    			}else{
	    				DialogUtils.alert("错误提示","锁定" + entityName + "失败.","error");
	    			}
	    			queryFun();
		    });
    	}
    });
}
function unlockFun(id,name){
	if (id == undefined) {
		var rows = grid.datagrid('getSelections');
		id = rows[0][idFieldName];
		name = rows[0][nameFieldName];
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return false;
	}
	//判断对应组织是否能被停用
    DialogUtils.confirm(
    		"确认提醒" , 
    		$.formatString("是否确认解锁操作员:[{0}]?",name), 
    function(data){
    	if(data){
    		DialogUtils.progress({
    	        text : '数据提交中，请等待....'
    		});
    		//如果确认删除对应组织
    		$.post(/*[[@{/operator/unlockById}]]*/'',
    			{id:id},
	    		function(data){
    				DialogUtils.progress('close');
	    			if(data){
	    				DialogUtils.tip("解锁" + entityName + "成功.");
	    			}else{
	    				DialogUtils.alert("错误提示","解锁" + entityName + "失败.","error");
	    			}
	    			queryFun();
		    });
    	}
    });
}
//重置密码
function resetPwdFun(id,name){
	if (id == undefined) {
		var rows = grid.datagrid('getSelections');
		id = rows[0][idFieldName];
		name = rows[0][nameFieldName];
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return false;
	}
	//判断对应组织是否能被停用
    DialogUtils.confirm(
    		"确认提醒" , 
    		$.formatString("是否确认重置操作员:[{0}]密码?",name), 
    function(data){
    	if(data){
    		DialogUtils.progress({
    	        text : '数据提交中，请等待....'
    		});
    		$.post(/*[[@{/operator/resetPwdById}]]*/'',
        			{id:id},
		    		function(data){
		    			if(data){
			    			DialogUtils.progress('close');
			    			//DialogUtils.tip("重置密码成功");
			    			DialogUtils.tip("重置密码成功");
			    			$('#datagrid').datagrid('reload',$('#queryForm').serializeObject());
		    			}else{
							DialogUtils.progress('close');
							DialogUtils.tip("重置密码失败");
		    			}
		    });
    	}
    });
}
/*
 * 配置操作人员权限
 */
function configOperatorAuth(id,name){
	if (id == undefined) {
		var rows = grid.datagrid('getSelections');
		id = rows[0][idFieldName];
		name = rows[0][nameFieldName];
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return false;
	}
	DialogUtils.progress({
        text : '加载中，请等待....'
	});
	var configUrl = /*[[@{/operator/auth/toConfigOperatorAuth}]]*/'';
	configUrl = configUrl + "?authTypeId=AUTH_TYPE_OPERATOR_OPERATE&operatorId=" + id;
	DialogUtils.openModalDialog(
		"configOperatorAuth",
		$.formatString("配置人员权限_[{0}]",name),
		configUrl,
		450,500,function(){
		}
	);
}
function configOperatorPost(id,name){
	if (id == undefined) {
		var rows = grid.datagrid('getSelections');
		id = rows[0][idFieldName];
		name = rows[0][nameFieldName];
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return false;
	}
	DialogUtils.progress({
        text : '加载中，请等待....'
	});
	DialogUtils.openModalDialog(
		"configOperatorPost",
		$.formatString("配置人员职位_[{0}]",name),
		$.formatString("${contextPath}/operatorRef/toConfigOperatorPost.action?operatorId={0}",id),
		850,550,function(){
		}
	);
}
function configOperatorRole(id,name){
	if (id == undefined) {
		var rows = grid.datagrid('getSelections');
		id = rows[0][idFieldName];
		name = rows[0][nameFieldName];
	}
	if($.ObjectUtils.isEmpty(id)){
		DialogUtils.alert("没有选中的" + entityName);
		return false;
	}
	var configUrl = /*[[@{/operator/role/toConfigOperatorRole}]]*/'';
	configUrl = configUrl + "?roleTypeId=ROLE_TYPE_OPERATOR&operatorId=" + id;
	DialogUtils.openModalDialog(
		"configOperatorAuth",
		$.formatString("配置人员角色_[{0}]",name),
		configUrl,
		450,500,function(){
		}
	);
}
/*]]>*/
</script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
	<div data-options="region:'west',title:'组织结构',split:true,
		tools : [
			{ iconCls : 'clear',handler : function() {deselect();} } ,
			{ iconCls : 'database_refresh',handler : function() {refreshTree();} }
		]"
		style="width:230px;">
		<ul id="orgPostTree"></ul>
	</div> 
	
	<div data-options="region:'center',border:false">
		<div class="easyui-layout" data-options="fit:true,border:false" style="padding:5px;background:#eee;">
			<div data-options="region:'north',title:'查询条件',border:false" 
				style="height: 130px; overflow: hidden;">
				<form method="post" id="queryForm" name="queryForm" class="form">
				<!-- query condition -->
				<input type="hidden" id="organizationId" name="organizationId" value=""/>
				<div>
					<table>
						<tbody>
						<tr>
							<th class="narrow">登录名:</th>
							<td><input name="loginName" class="text" type="text" value=''/></td>
							<th class="narrow">姓名:</th>
							<td><input name="userName" class="text" type="text" value=''/></td>
						</tr>
						<tr>
							<th class="narrow">状态:</th>
							<td>
								<select name="state" class="select">
									<optgroup label=""> 
										<option value="">--- 不限 ---</option>
										<option value="正常">--- 正常 ---</option>
										<option value="锁定">--- 锁定 ---</option>
										<option value="停用">--- 禁用 ---</option>
									</optgroup>
								</select>
							</td>
							<th class="narrow">职位</th>
							<td>
								<input id="postName" name="postName" class="text" type="text" value='' readonly="readonly">
								<input id="postId" name="postId" class="text" type="hidden" value=''/>
							</td>
						</tr>
						<tr>
							<td colspan="4" class="button operRow">
								<a id="queryBtn" href="#" class="easyui-linkbutton">查询</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				</form>
			</div>
			<div data-options="region:'center',border:false">
				<table id="grid"></table>
			</div>
		</div>
	</div>
	
	<div id="toolbar" style="display: none;">
		<a onclick="addFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil_add'">新增</a>
		<a id="editALink" onclick="editFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil'">编辑</a>
		<a id="deleteALink" onclick="deleteFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil_delete'">删除</a>
		<a id="enableALink" onclick="enableFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'control_play_blue'">启用</a>
		<a id="disableALink" onclick="disableFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'control_stop_blue'">禁用</a>
		<a id="lockALink" onclick="lockFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'lock'">锁定</a>
		<a id="unlockALink" onclick="unlockFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'lock_open'">解锁</a>
		
		<a id="resetPwdALink" onclick="resetPwdFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'database_key'">重置密码</a>
		<a id="configOperatorPostALink" onclick="configOperatorPost();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'group_group'">配置职位</a>
		<a id="configOperatorAuthALink" onclick="configOperatorAuth();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'database_key'">配置权限</a>
		<a id="configOperatorRoleALink" onclick="configOperatorRole();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'folder_user'">配置角色</a>
		<a onclick="datagrid.datagrid('reload');" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'transmit'">刷新</a>
	</div>
</body>