@charset "utf-8";
/* 定义frame,iframe样式 */
frameset {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px;
    border-style: none;
    z-index: 0;
}
frame {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px;
    border-style: none;
    z-index: 0;
}
iframe {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    padding-top: 0px;
    margin-top: 0px;
    position: relative;
    border: 0px;
    border-style: none;
    overflow: hidden;
    z-index: 0;
}
/* 定义通用页面样式  */
* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: "Verdana", "Arial", "宋体", "Helvetica", "sans-serif";
}
/*
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    overflow-y: visible;
    overflow-x: visible;
}
body {
    height: 99%;
    width: 99%;
}

html {
    overflow-y: auto;
    overflow-x: auto;
}
*/
img, form {
    border: none;
}
a {
    color: black;
    text-align: left;
    text-decoration: none;
}
/* form table */
.form-table{
}
.form-table * {
    vertical-align: middle;
}
.form-table table {
	/*
	table-layout:fixed;
	width:100%;
	text-overflow:ellipsis;
	*/
}
.form-table th, .form-table td {
	line-height:18px;
	padding:2px 3px;
	color:#333;
}
.form-table th {
	text-align:left;
	font-weight:normal;
	padding-left:10px;
}
.form-table td {
}

/* list-table */
.list-table {
    
}
.list-table table {
    text-overflow: ellipsis;
    border-collapse: collapse; 
}
.list-table * {
    vertical-align: middle;
}
.list-table table th,.list-table table td {
    height: 20px;
    max-height: 20px;
    /*
    line-height: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    */
}
.list-table table th {
    height: 24px;
}
.list-table a {
    text-decoration: underline;
}
.list-table .operRow {
    width: 100%;
    text-align: right;
    line-height: 26px;
    border-top: none;
}
