<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>WS运营管理系统</title>

</head>

<body>
<img alt="系统内部错误" src="../../webjars/style/images/blue_face/bluefaces_05.png" th:src="@{/webjars/style/images/blue_face/bluefaces_05.png}"/>
<div>错误代码：500</div>
<div>错误描述：系统内部错误</div>
</body>
</html>

<script type="text/javascript" charset="utf-8">
try{parent.$.messager.progress('close');}catch(e){}//如果存在进度条则关闭进度条
</script>