<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="../themes/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/uimaker.css">   
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"> 
	<script type="text/javascript" src="../jquery.min.js"></script>
	<script type="text/javascript" src="../jquery.easyui.min.js"></script>
</head>

<body style="background:#fff;">

	
    <div class="pagebox">
    
    <div class="titlename">calendar</div>
    
        
        <div class="cbox">
            	
                <div class="easyui-panel" style="padding:15px; width:100%;">
                
                	<div class="easyui-calendar" style="width:360px;height:300px;"></div>
                
                </div>            
            
        </div>
        
        
    </div>
    

</body>
</html>
