<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="../themes/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/uimaker.css">   
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"> 
	<script type="text/javascript" src="../jquery.min.js"></script>
	<script type="text/javascript" src="../jquery.easyui.min.js"></script>
</head>

<body style="background:#fff;">

	
    <div class="pagebox">
    
    <div class="titlename">combobox</div>
    
        <div class="cbox">
        
        	<div class="easyui-panel" style="padding:15px;width:100%;">
        	
            <ul style="width:600px;">
            
            <li style="margin-bottom:15px;">
            	<select class="easyui-combobox" name="state" label="组件：" labelPosition="left" style="width:100%; height:32px;">
				<option value="AL">表单</option>
				<option value="AK">文本框</option>
				<option value="AZ">数据表格</option>
				<option value="AR">菜单</option>
				<option value="CA">按钮</option>
				<option value="CO">布局</option>
				<option value="CT">格式框</option>
				<option value="DE">复选框</option>
				<option value="FL">日期时间</option>
				</select>            
            </li>
            
            <li style="margin-bottom:15px;">
            	<select class="easyui-combobox" name="state" label="城市：" labelPosition="left" style="width:100%; height:32px;">
				<option value="AL">南京</option>
				<option value="AK">上海</option>
				<option value="AZ">北京</option>
				<option value="AR">广州</option>
				<option value="CA">济南</option>
				<option value="CO">无锡</option>
				<option value="CT">大连</option>
				<option value="DE">滨州</option>
				<option value="FL">太原</option>
				</select>            
            </li>
            
            
            <li style="margin-bottom:15px;">
            	<select class="easyui-combobox" name="state" label="组件：" labelPosition="left" style="width:100%; height:32px;">
				<option value="AL">自定义</option>
				<option value="AK">文本框</option>
				<option value="AZ">数据表格</option>
				<option value="AR">菜单</option>
				<option value="CA">按钮</option>
				<option value="CO">布局</option>
				<option value="CT">格式框</option>
				<option value="DE">复选框</option>
				<option value="FL">日期时间</option>
				</select>            
            </li> 
            
            <li style="margin-bottom:15px;">
            	<select class="easyui-combobox" name="state" multiple="true" multiline="true" label="选项:" labelPosition="left" style="width:100%;height:80px;">
				<option value="AL">颜色</option>
				<option value="AK">标签</option>
				<option value="AZ">其他</option>
				<option value="AR">中国</option>
				<option value="CA">自定义</option>
				<option value="CO">选项</option>
				<option value="CT" selected>选择器</option>
				<option value="DE">数字</option>
				<option value="FL">英文</option>
				</select>            
            </li>
            
            </ul>
            
            </div> 
        
        </div>
        
        
        
        <div class="cbox">
            	
                <div class="easyui-panel" style="padding:15px;">
                
                	<ul style="width:600px;">
                    
                    <li style="margin-bottom:15px;">
                    <select class="easyui-combobox" name="state" label="组件：" labelPosition="top" style="width:100%;">
                    <option value="AL">表单</option>
                    <option value="AK">文本框</option>
                    <option value="AZ">数据表格</option>
                    <option value="AR">菜单</option>
                    <option value="CA">按钮</option>
                    <option value="CO">布局</option>
                    <option value="CT">格式框</option>
                    <option value="DE">复选框</option>
                    <option value="FL">日期时间</option>
                    </select>            
               		</li>
                    
                    <li style="margin-bottom:15px;">
                    <select class="easyui-combobox" name="state" multiple="true" multiline="true" label="选项:" labelPosition="top" style="width:100%;height:100px;">
                    <option value="AL">颜色</option>
                    <option value="AK">标签</option>
                    <option value="AZ">其他</option>
                    <option value="AR">中国</option>
                    <option value="CA">自定义</option>
                    <option value="CO">选项</option>
                    <option value="CT" selected>选择器</option>
                    <option value="DE">数字</option>
                    <option value="FL">英文</option>
                    </select>            
            		</li>                    
                    
                    
                    </ul>
                
                </div>            
            
        </div>
        
        
    </div>
    

</body>
</html>
