<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="../themes/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/uimaker.css">   
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"> 
	<script type="text/javascript" src="../jquery.min.js"></script>
	<script type="text/javascript" src="../jquery.easyui.min.js"></script>
</head>

<body style="background:#fff;">

	
    <div class="pagebox">
    
    <div class="titlename">combotree</div>
    
        
        
        <div class="cbox">
            	
                <div class="easyui-panel" style="padding:15px;width:100%;">
                
                	<ul style="width:600px;">
                    <li style="margin-bottom:8px;"><input class="easyui-combotree" data-options="url:'data/tree_data1.json',method:'get',label:'请选择(chrome浏览器不显示下拉内容，请搭建服务器环境，通过地址访问即可):',labelPosition:'top'" style="width:100%"></li>
                    <li style="margin-bottom:8px;"><input id="cc" class="easyui-combotree" data-options="url:'data/tree_data1.json',method:'get',label:'下拉树菜单:',labelPosition:'top',multiple:true,value:[122,124]" style="width:100%"></li>
                    </ul>
                
                </div>            
            
        </div>
        
        
    </div>
    

</body>
</html>
