<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="../themes/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/uimaker.css">   
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"> 
	<script type="text/javascript" src="../jquery.min.js"></script>
	<script type="text/javascript" src="../jquery.easyui.min.js"></script>
</head>

<body style="background:#fff;">

	
    <div class="pagebox">
    
    <div class="titlename">datalist</div>
    
        <div class="cbox" style="clear:both; overflow:hidden;">
        
        	<dl class="cboxdt">
        
        	<dd>
            
                <div class="ddiv">
                    
                    <ul class="easyui-datalist" title="ui教程" lines="true" style="width:100%;height:430px">
                    <li value="AL">使用Illustrator绘制炫酷2.5D渐变插画</li>
                    <li value="AK">数码视讯应急广播调度控制平台大屏界面设计</li>
                    <li value="AZ">UI设计师需要具备哪些能力，怎么学才能找到工作？</li>
                    <li value="AR">最实用的AI常见字体效果设计—彩虹糖果字</li>
                    <li value="CA">图标设计 - 你想不到的N种操作</li>
                    <li value="CO">UI界面设计，用PS绘制定位app页面设计教程</li>
                    <li value="CT">如何利用PS制作立体文字创意人像海报</li>
                    <li value="DE">UI图标教程--制作晶莹剔透的玻璃按钮</li>
                    <li value="FL">UI设计需要学习什么呢 小白自学UI设计 5分钟带你进入UI设计</li>
                    <li value="GA">七个好用的LOGO在线制作工具推荐</li>
                    <li value="HI">计算器APP图标ICON设计UI教程-C9D翻译</li>
                    <li value="ID">告别纸上谈兵，实战集训提升产品实力，从0到1成就优秀产品经理</li>
					</ul>
                    
                </div>
            
            </dd>
            
            <dd>
            
            	<div class="ddiv">
                
                	<ul class="easyui-datalist" title="业内资讯" lines="true" style="width:100%;height:430px">
                    <li value="AL">未来AI交互的探路者，百度关岱松任人工智能交互设计院院长</li>
                    <li value="AK">网易云课堂UI/交互设计微专业，3个月挑战年薪20万</li>
                    <li value="AZ">启利网吉祥物新鲜出炉啦！快给你喜欢的萌物投上一票吧！</li>
                    <li value="AR">神器推荐-零设计基础如何做出超高转化率的海报？</li>
                    <li value="CA">2018只剩1%的电量，今年你的KPI超额完成了吗？</li>
                    <li value="CO">比PS更好用的设计工具，让你秒变设计师</li>
                    <li value="CT">IXDC国际体验设计大会将于7月在北京隆重举行</li>
                    <li value="DE">“你酷你就秀”酷派CoolLife UI（全球）手机主题设计大赛火热启</li>
                    <li value="FL">谷歌移动互联霸业遭重挫 开放手机联盟人心涣散</li>
                    <li value="GA">零基础如何快速学习UI设计</li>
                    <li value="HI">零基础学产品，8周魔鬼训练，200+名企的专属内推机会，100%保障</li>
                    <li value="ID">2018中国运营大会开启报名 | 集结国家级营销师、知名运营专家</li>
					</ul>
                    
                </div>
            
            </dd>
            
            </dl>
            
        </div>
        
        
        
    </div>
    

</body>
</html>
