<!doctype html>
<html>
<head>
    <title>无标题文档</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<block th:replace="fragments/easyui_header::common_replace">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css" th:href="@{/webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/viewer/css/viewer.min.css" th:href="@{/webjars/js/viewer/css/viewer.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/css/icons.css" th:href="@{/webjars/css/icons.css}"/>
	<!-- customize -->
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/js/jquery-easyui/themes/bootstrap/easyui.css" th:href="@{/webjars/themes/easyui/css/easyui.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/css/commons.css" th:href="@{/webjars/themes/easyui/css/commons.css}"/>
	
	<!-- jquery -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
	<!-- jqueryui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-ui/js/jquery-ui.custom.js" th:src="@{/webjars/js/jquery-ui/js/jquery-ui.custom.js}"></script>
	<!-- easyui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/ext.easyui.js" th:src="@{/webjars/themes/easyui/js/ext.easyui.js}"></script>
	<!-- other -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/datepicker/WdatePicker.js" th:src="@{/webjars/js/datepicker/WdatePicker.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/jquery.form.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/jquery.validator.js" th:src="@{/webjars/js/nice-validator/jquery.validator.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/local/zh-CN.js" th:src="@{/webjars/js/nice-validator/local/zh-CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/viewer/js/viewer-jquery.min.js" th:src="@{/webjars/js/viewer/js/viewer-jquery.min.js}"></script><!-- viewer -->
	<!-- customize -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/commons.js" th:src="@{/webjars/themes/easyui/js/commons.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/components.js" th:src="@{/webjars/themes/easyui/js/components.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var _contextPath = /*[[@{/}]]*/'/webdemo/';
	/*]]>*/
	</script>
</block>
</head>
<body>
    <div class="pagebox">
    
    <div class="titlename">datalist</div>
    
        <div class="cbox" style="clear:both; overflow:hidden;">
        
        	<dl class="cboxdt">
        
        	<dd>
            
                <div class="ddiv">
                    
                    <ul class="easyui-datalist" title="ui教程" lines="true" style="width:100%;height:430px">
                    <li value="AL">使用Illustrator绘制炫酷2.5D渐变插画</li>
                    <li value="AK">数码视讯应急广播调度控制平台大屏界面设计</li>
                    <li value="AZ">UI设计师需要具备哪些能力，怎么学才能找到工作？</li>
                    <li value="AR">最实用的AI常见字体效果设计—彩虹糖果字</li>
                    <li value="CA">图标设计 - 你想不到的N种操作</li>
                    <li value="CO">UI界面设计，用PS绘制定位app页面设计教程</li>
                    <li value="CT">如何利用PS制作立体文字创意人像海报</li>
                    <li value="DE">UI图标教程--制作晶莹剔透的玻璃按钮</li>
                    <li value="FL">UI设计需要学习什么呢 小白自学UI设计 5分钟带你进入UI设计</li>
                    <li value="GA">七个好用的LOGO在线制作工具推荐</li>
                    <li value="HI">计算器APP图标ICON设计UI教程-C9D翻译</li>
                    <li value="ID">告别纸上谈兵，实战集训提升产品实力，从0到1成就优秀产品经理</li>
					</ul>
                    
                </div>
            
            </dd>
            
            <dd>
            
            	<div class="ddiv">
                
                	<ul class="easyui-datalist" title="业内资讯" lines="true" style="width:100%;height:430px">
                    <li value="AL">未来AI交互的探路者，百度关岱松任人工智能交互设计院院长</li>
                    <li value="AK">网易云课堂UI/交互设计微专业，3个月挑战年薪20万</li>
                    <li value="AZ">启利网吉祥物新鲜出炉啦！快给你喜欢的萌物投上一票吧！</li>
                    <li value="AR">神器推荐-零设计基础如何做出超高转化率的海报？</li>
                    <li value="CA">2018只剩1%的电量，今年你的KPI超额完成了吗？</li>
                    <li value="CO">比PS更好用的设计工具，让你秒变设计师</li>
                    <li value="CT">IXDC国际体验设计大会将于7月在北京隆重举行</li>
                    <li value="DE">“你酷你就秀”酷派CoolLife UI（全球）手机主题设计大赛火热启</li>
                    <li value="FL">谷歌移动互联霸业遭重挫 开放手机联盟人心涣散</li>
                    <li value="GA">零基础如何快速学习UI设计</li>
                    <li value="HI">零基础学产品，8周魔鬼训练，200+名企的专属内推机会，100%保障</li>
                    <li value="ID">2018中国运营大会开启报名 | 集结国家级营销师、知名运营专家</li>
					</ul>
                    
                </div>
            
            </dd>
            
            </dl>
            
        </div>
        
        
        
    </div>
    

</body>
</html>
