<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="../themes/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/uimaker.css">   
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"> 
	<script type="text/javascript" src="../jquery.min.js"></script>
	<script type="text/javascript" src="../jquery.easyui.min.js"></script>
</head>

<body style="background:#fff;">

	
    <div class="pagebox">
    
    <div class="titlename">datebox</div>
    
        
        <div class="cbox">
            	
                <div class="easyui-panel" style="padding:15px; width:100%;">
                
                	<ul style="width:400px;">
                    <li style="margin-bottom:8px;"><input class="easyui-datebox" label="开始时间:" labelPosition="top" style="width:100%;"></li>
                    <li style="margin-bottom:8px;"><input class="easyui-datebox" label="结束时间:" labelPosition="top" style="width:100%;"></li>
                    
                    <li style="margin-bottom:8px;">
                    <input class="easyui-datebox" label="3个按钮:" labelPosition="top" data-options="buttons:buttons" style="width:100%;">
                    <script>
						var buttons = $.extend([], $.fn.datebox.defaults.buttons);
						buttons.splice(1, 0, {
							text: '自定义按钮',
							handler: function(target){
								alert('click MyBtn');
							}
						});
					</script>
                    </li>
                    
                    <li style="margin-bottom:8px;">
                    <input class="easyui-datebox" label="日期格式:" labelPosition="top" data-options="formatter:myformatter,parser:myparser" style="width:100%;">
                    <script type="text/javascript">
						function myformatter(date){
							var y = date.getFullYear();
							var m = date.getMonth()+1;
							var d = date.getDate();
							return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);
						}
						function myparser(s){
							if (!s) return new Date();
							var ss = (s.split('-'));
							var y = parseInt(ss[0],10);
							var m = parseInt(ss[1],10);
							var d = parseInt(ss[2],10);
							if (!isNaN(y) && !isNaN(m) && !isNaN(d)){
								return new Date(y,m-1,d);
							} else {
								return new Date();
							}
						}
					</script>
                    
                    </li>
                    
                    </ul>
                
                </div>            
            
        </div>
        
        
    </div>
    

</body>
</html>
