<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>uimaker蓝色风格easyui模板</title>
	<link rel="stylesheet" type="text/css" href="../themes/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/uimaker.css">    
	<script type="text/javascript" src="../jquery.min.js"></script>
	<script type="text/javascript" src="../jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/jparticle.jquery.min.js"></script>
</head>

<body style="background:#0a73bc; overflow:hidden;">

	<!--loginbg start-->
	<div class="loginbg">
	
    <!--login start-->
	<div class="login">
    
    	<!--loginbox start-->
        <div class="loginbox">
        
        	<div class="loginleft"><h2>Easyui蓝色风格模板</h2></div>
            
            <div class="loginright">
            
            	<span class="loginlogo"></span>
                
                <ul class="userlogin">
                <li><p class="loginuser"><i class="iconfont">&#xe602;</i></p><cite><input class="easyui-textbox" value="用户名"  style="width:100%; height:40px;"></cite></li>
                <li><p class="loginpassword"><i class="iconfont">&#xe616;</i></p><cite><input class="easyui-textbox" value="密码" style="width:100%; height:40px;"></cite></li>
                <li><a  class="loginbtn" href="main.html">登录</a></li>
                <li><em><input class="easyui-checkbox" name="fruit" value="Apple"></em><b>记住我的信息</b></li>
                </ul>
                
            </div>
            
        </div>
        <!--loginbox end-->
        
        <div class="loginshadow"></div>  
    
    </div>
    <!--login end-->
    
    <div class="loginfooter">CopyRight 2018&nbsp;&nbsp;版权所有&nbsp;&nbsp;Uimaker.com&nbsp;&nbsp;专注于UI设计&nbsp;&nbsp;禁止网络转载&nbsp;&nbsp;苏ICP备09003079号</div>
    
    </div>    
    <!--loginbg end-->
    
    <script>
	$(function(){
		$(".loginbg").jParticle({
			background: "#0a73bc",
			color: "#fff"
		});
	});
	//设置div高度自适应浏览器
	$(window).resize(function(e) {
	$(".loginbg").height($(window).height());    
	}).resize();
	</script>
    
</body>
</html>
