<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="../themes/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/uimaker.css">   
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"> 
	<script type="text/javascript" src="../jquery.min.js"></script>
	<script type="text/javascript" src="../jquery.easyui.min.js"></script>
</head>

<body style="background:#fff;">

	
    <div class="pagebox">
    
    <div class="titlename">numberbox</div>
    
        
        
        <div class="cbox">
            	
                <div class="easyui-panel" style="padding:15px;width:100%;">
                
                	<ul style="width:600px;">
                    <li style="margin-bottom:8px;"><input class="easyui-numberbox" label="价格:" labelPosition="left" precision="2" value="234.56" style="width:100%;height:32px;"></li>
                    <li style="margin-bottom:8px;"><input class="easyui-numberbox" label="数量:" labelPosition="left" value="100" style="width:100%;height:32px;"></li>
                    <li style="margin-bottom:8px;"><input class="easyui-numberbox" label="折扣:" labelPosition="left" value="20" suffix="%" style="width:100%;height:32px;"></li>
                    </ul>
                
                </div>            
            
        </div>
        
        
    </div>
    

</body>
</html>
