<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="../themes/uimaker/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/uimaker.css">   
    <link rel="stylesheet" type="text/css" href="font/iconfont.css"> 
	<script type="text/javascript" src="../jquery.min.js"></script>
	<script type="text/javascript" src="../jquery.easyui.min.js"></script>
</head>

<body style="background:#fff;">

	
    <div class="pagebox">
    
    <div class="titlename">radiobutton</div>
    
        <div class="cbox">
        
        	<div id="p" class="easyui-panel" data-options="fit:true" style="height:200px;padding:15px;">		
            	
                <form id="ff">
                <div style="margin-bottom:20px">
                    <input class="easyui-radiobutton" name="fruit" value="Apple" label="南京:">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-radiobutton" name="fruit" value="Orange" label="上海:">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-radiobutton" name="fruit" value="Banana" label="北京:">
                </div>
				</form>
                
			</div>    
        
        </div>    
        
        
    </div>
    

</body>
</html>
