/*404*/
.page404{width:650px; height:280px;margin:0 auto; background:url(../images/404.png) no-repeat 20px 10px; margin-top:100px;}
.page404 p{ padding-left:280px;color:#566b91;font-size:16px;}
.error404{color:#d63737;font-size:38px; padding-left:280px; padding-top:80px;}
