/* main */
/* 定义通用页面样式  */
* {
	border:0;margin:0;padding:0;
	font-size: 14px;
	font-family: "Microsoft YaHei","iconfont"!important; Arial Helvetica sans-serif;
	/*IE滚动条*/
	scrollbar-face-color:#2c3950; /*面子*/  
	scrollbar-arrow-color:#C0C0C0; /*箭头*/  
	scrollbar-3dlight-color:#C0C0C0; /*最外左*/  
	scrollbar-highlight-color:#2c3950; /*左二*/  
	scrollbar-shadow-color:#2c3950; /*右二*/  
	scrollbar-darkshadow-color:#C0C0C0; /*右一*/  
	scrollbar-track-color:#151a24; /*滑道*/ 
}
::-webkit-scrollbar-track-piece {background-color:#fff;-webkit-border-radius:0}
::-webkit-scrollbar {width:9px;height:9px}
::-webkit-scrollbar-thumb {height:50px;background-color:#e3e6e8;-webkit-border-radius:6px;outline:2px solid #fff;outline-offset:-2px;border:2px solid #fff;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5}
::-webkit-scrollbar-thumb:hover {height:50px;background-color:#0076c8;-webkit-border-radius:6px}

html{overflow-x:hidden;overflow-y:hidden}/*去横向滚动条*/
body{margin:0 auto;min-width:980px;font-family:"Microsoft YaHei","iconfont"!important}

.header{background:#0076c8;height:50px; overflow:hidden;}
.left{width:200px;background:#fff; overflow:hidden;}
.footer{height:26px;background:#e3e6e8;color:#525e75;overflow:hidden;}
.center{background:#191f2a;}
.logo{padding-left:20px; margin-top:10px; float:left; width:179px;}

.nav li{float:left;}
/*
.nav li a{display:block; height:48px; line-height:48px; background:#0076c8;padding:0 15px; color:#fff; border-top:solid 2px #0076c8;}
.nav li a.selected,.nav li a:hover{background:#005d9e;color:#fff;border-top:solid 2px #fff;}
*/
.nav li a{display:block; height:48px; line-height:48px; background:#0076c8;padding:0 15px; color:#fff; border-left:solid 1px #0165ab;border-top:solid 2px #0076c8;}
.nav li a:hover{background:#0076c8;color:#fff;border-left:solid 1px #0165ab;border-top:solid 2px #fff;}
.nav li a.selected{background:#005d9e;color:#fff;border-left:solid 1px #0165ab;border-top:solid 2px #fff;}
.nav li a i{color:#fff; padding-right:8px;font-size:24px; display:block; float:left; height:48px; line-height:48px;}
.nav li a.selected i,.nav li a:hover i{color:#fff;}

.topright{float:right}
.toptool li {float:left; color:#536383;line-height:50px; padding:0 10px; position:relative;}
.toptool li a i{font-size:20px;}
.toptool li a{color:#fff;}
.toptool li a:hover{color:#0594f7;}
.toptool li em{display:block;font-size:9px; font-family: "arial"; color:#fff; background:#d63737; height:12px; line-height:12px; position:absolute; z-index:100; top:13px; right:6px; padding:0 2px; border-radius:2px; font-style:normal;}
.toptool li em.gcolor{background:#0da827;}
/*
.toptool li {float:left; color:#536383;line-height:50px; padding:0 8px; position:relative;}
.toptool li a{display:block; height:48px; line-height:48px; background:#0076c8;padding:0px; color:#fff; border-top:solid 2px #0076c8;}
.toptool li a i{color:#fff;font-size:20px; display:block; float:left; height:48px; line-height:48px;}
.toptool li a:hover{background:#0076c8;color:#fff;border-top:solid 2px #fff;}
.toptool li a:hover i{color:#fff;}
.toptool li em{display:block;font-size:9px; font-family: "arial"; color:#fff; background:#d63737; height:12px; line-height:12px; position:absolute; z-index:100; top:13px; right:6px; padding:0 2px; border-radius:2px; font-style:normal;}
.toptool li em.gcolor{background:#0da827;}
.toptool li span{float:left;}
*/
.userface{display:block;width:25px; height:25px; line-height:25px; background:url(../../images/userbg.png) no-repeat; margin-top:13px;font-size:14px; color:#0397fe; text-align:center; float:left;}
.userface i{font-size:12px;}
.userdown{font-size:10px;}
.toptool li font{font-size:14px; display:block; float:left; padding:0 8px;}
.toptool li a:hover font{font-size:14px; display:block; float:left; padding:0 8px; color:#fff;}

.toptool li a i.userdown{-webkit-transform-origin-x: 0;-webkit-transform: scale(0.60);font-size:14px;}
.fleft,.fright{display:block; float:left; height:26px; line-height:26px; color:#415372;font-size:12px;}

.fleft,.fright{display:block; float:left; height:26px; line-height:26px; color:#415372;font-size:12px;}
.fright{float:right;}
.fleft>.iconfont{padding:0 5px; font-size:12px;}
.fright>.iconfont{float:right; margin-top:2px;}
#tt .tabs-panels>.panel>.panel-body{overflow:hidden;}
/*20190318新增*/

/* by pqy */
