<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>default</title>
<block th:replace="fragments/header::common_replace">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css" th:href="@{/webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-easyui/themes/bootstrap/easyui.css" th:href="@{/webjars/js/jquery-easyui/themes/bootstrap/easyui.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/viewer/css/viewer.min.css" th:href="@{/webjars/js/viewer/css/viewer.min.css}"/>
	<!-- customize -->
	<link rel="stylesheet" type="text/css" href="../../webjars/css/icons.css" th:href="@{/webjars/css/icons.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/css/commons.css" th:href="@{/webjars/css/commons.css}"/>
	
	<!-- jquery -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
	<!-- jqueryui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-ui/js/jquery-ui.custom.js" th:src="@{/webjars/js/jquery-ui/js/jquery-ui.custom.js}"></script>
	<!-- easyui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/js/jquery-easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/ext.easyui.js" th:src="@{/webjars/js/ext.easyui.js}"></script>
	<!-- other -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/datepicker/WdatePicker.js" th:src="@{/webjars/js/datepicker/WdatePicker.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/jquery.form.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/jquery.validator.js" th:src="@{/webjars/js/nice-validator/jquery.validator.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/local/zh-CN.js" th:src="@{/webjars/js/nice-validator/local/zh-CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/viewer/js/viewer-jquery.min.js" th:src="@{/webjars/js/viewer/js/viewer-jquery.min.js}"></script><!-- viewer -->
	<!-- echarts -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/echarts/echarts.min.js" th:src="@{/webjars/js/echarts/echarts.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/echarts/ext.echarts.js" th:src="@{/webjars/js/echarts/ext.echarts.js}"></script>
	<!-- customize -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/commons.js" th:src="@{/webjars/js/commons.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/components.js" th:src="@{/webjars/js/components.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var _contextPath = /*[[@{/}]]*/'';
	/*]]>*/
	</script>
</block>
<script>
	//窗口大小变化时候，进行刷新页面操作，防止样式混乱
	//由于用easyui的panel组件时echarts无法自动resize，所以暂时用刷新页面的方法来解决，如果不用panel组件，可自动适应。
	var x=window.innerWidth;
	function resizeFresh(){
	    if(x!=window.innerWidth)
	        location.reload();
	}
</script>
<style type="text/css">
	.toollist{overflow:hidden;padding-top:8px; padding-left:8px;}
	.toollist li{float:left; width:16.66%;}
	.toollist li:hover{opacity:0.9; cursor:pointer;}
	.toollist li span i{display:block;float:left; width:62px; height:75px; line-height:75px; text-align:center; font-size:35px;background:url(../images/spanbg.png); margin-right:12px; color:#fff;}
	.listbox{margin-right:8px;height:75px;}
	.boxcolor1{background:#0076c8;}
	.boxcolor2{background:#d63737;}
	.boxcolor3{background:#6f61ae;}
	.boxcolor4{background:#0da827;}
	.boxcolor5{background:#008b72;}
	.boxcolor6{background:#2c3950;}
	.toollist li cite{display:block; float:left; width:70px; height:75px;}
	.toollist li cite a{font-size:22px;color:#fff;float:left; display:block; font-style:normal; width:70px; margin-top:12px;}
	.toollist li cite a p{font-style:normal;font-size:12px; color:#fff; opacity:0.55; }
	.panellist{padding-left:7px;padding-top:8px; overflow:hidden;}
	.panellist li{width:33.33%; float:left;}
	.panelbox{margin-right:8px;}
	.chartbox{height:235px; overflow:hidden;}
	.infolist{padding:8px 8px 0 8px; clear:both;}
	.infoleft{width:66.67%; float:left;}
	.inforight{width:33.33%; float:left;}
	.infoboxleft{height:353px; margin-right:3px;}
	.infoboxright{height:353px; margin-left:5px;}
	.tablebox{margin:8px; overflow:hidden;}
	.textlist{padding:8px;}
	.textlist li{line-height:30px; height:30px;*line-height:29px;*height:29px; width:100%;}
	.textlist li a{display:block; float:left; font-size:12px; color:#000;}
	.textlist li a:hover{color:#0594f7;}
	.textlist li span{display:block;width:2px;height:2px;float:left; margin-top:15px;margin-right:8px; margin-left:8px;background:#0594f7;}
	.textlist li i{font-style:normal;color:#3c4b69; position:absolute; right:20px;font-size:12px;}
	.textlist li em{font-size:9px;font-style:normal;color:#fff;display:block; height:13px; width:30px; line-height:13px;border-radius:2px; float:left;margin-top:8px; margin-left:6px; text-align:center;}
	.emcolor1{background:#d63737;}
	.emcolor2{background:#0076c8;}
	.emcolor3{background:#6f61ae;}
	.smallfont{-webkit-transform-origin-x: 0;-webkit-transform: scale(0.80);font-size:12px; }
	.odd{background:#f5f5f5;}
	.panelbox,.infoboxleft,.infoboxright{position:relative;}
	.panelmore{position:absolute;z-index:100;right:10px;top:5px;}
	.panelmore a{font-size:12px;color:#415375;padding-right:6px;}
	.panelmore a:hover{color:#0594f7;}
	.panelmore i{font-size:12px; color:#0594f7;-webkit-transform-origin-x: 0;-webkit-transform: scale(0.80);}
</style>
</head>
<body style="background:#fff;overflow-x:hidden; overflow-y:auto;"  onResize="resizeFresh()">

	<!--toollist start-->
    <ul class="toollist">
    	<li><div class="listbox boxcolor1"><span><i class="iconfont listfont">&#xe6da;</i></span><cite><a href="javascript:;">25<p>待办事项</p></a></cite></div></li>
        <li><div class="listbox boxcolor2"><span><i class="iconfont">&#xe647;</i></span><cite><a href="javascript:;">16<p>档案管理</p></a></cite></div></li>
        <li><div class="listbox boxcolor3"><span><i class="iconfont">&#xe619;</i></span><cite><a href="javascript:;">198<p>大数据统计</p></a></cite></div></li>
        <li><div class="listbox boxcolor4"><span><i class="iconfont">&#xe6c9;</i></span><cite><a href="javascript:;">10<p>项目信息</p></a></cite></div></li>
        <li><div class="listbox boxcolor5"><span><i class="iconfont">&#xe624;</i></span><cite><a href="javascript:;">15<p>日程管理</p></a></cite></div></li>
        <li><div class="listbox boxcolor6"><span><i class="iconfont">&#xe6bf;</i></span><cite><a href="javascript:;">7<p>云计算</p></a></cite></div></li>
    </ul>
    <!--toollist end-->
    
    <!--panellist start-->
    <ul class="panellist">
    
    	<li>
        	<div class="panelbox"> 
            
            <div class="panelmore"><a href="#">更多</a><i class="iconfont">&#xe620;</i></div>
                        
            <div class="easyui-panel" data-options="fit:true,border:true" title="趋势图" >            
            
                        
            <div id="chart1" class="chartbox">
           
    		<script type="text/javascript">
        	// 基于准备好的dom，初始化echarts实例
        	var myChart = echarts.init(document.getElementById('chart1'),'uimaker');			
        	// 指定图表的配置项和数据
        
			option = {			
				calculable : true,
				xAxis : [
					{
						type : 'category',
						boundaryGap : false,
						data : ['周一','周二','周三','周四','周五','周六','周日']
					}
				],
								
			grid:{
				x:60,
				x2:30,
				y:30,
				height:160
			},
			
			yAxis : [
				{
					type : 'value'
				}
			],
			
			series : [
				{
					name:'成交',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[10, 12, 21, 54, 260, 830, 710]
				},
				{
					name:'预购',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[30, 182, 434, 791, 390, 30, 10]
				},
				{
					name:'意向',
					type:'line',
					smooth:true,
					itemStyle: {normal: {areaStyle: {type: 'default'}}},
					data:[1320, 1132, 601, 234, 120, 90, 20]
				}
				]
			};
			
			// 使用刚指定的配置项和数据显示图表。
			myChart.setOption(option);
			
			window.addEventListener("resize",function(){
			myChart.resize();
			});
			
    		</script>

            </div>
            
            </div>

            
            </div>
        </li>
        
        <li>
        	<div class="panelbox">
            
            <div class="panelmore"><a href="#">更多</a><i class="iconfont">&#xe620;</i></div>
            
            <div class="easyui-panel" data-options="fit:true,border:true" title="环形图" >
            
            <div id="chart2" class="chartbox" >
            
            <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('chart2'),'uimaker');

            // 指定图表的配置项和数据
            option = {
				
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend:{
				orient:'vertical',
				x2:'30',
				y:'center',
				data:['百度','腾讯','淘宝','华为']
				},
			title:{
				text:'20180',
				subtext:'数据总量',
				x:'center',
				y:'40%',
				textStyle : {
							 fontSize : '22',
							 fontWeight : 'normal',
							 color:'#ffffff'
							 }
				},
						   
			calculable : true,
			series : [
				{
					name:'访问来源',
					type:'pie',
					radius : ['60%', '80%'],
					itemStyle : {
						normal : {
							label : {
								show : false
							},
							labelLine : {
								show : false
							}
						},
										
						emphasis : {
							label : {
								show : false,
								position : 'center',
								textStyle : {
									fontSize : '16',
									fontWeight : 'bold'
								}
							}
						}
					},
            data:[
                {value:335, name:'百度'},
                {value:310, name:'腾讯'},
                {value:234, name:'淘宝'},
                {value:135, name:'华为'},
						]
					}
				]
			};
                    
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option); 
			
			window.addEventListener("resize",function(){
        	myChart.resize();
                }); 
       		</script>
            
            </div>
            
            </div>
            </div>        
        </li>
        
        <li>
        	<div class="panelbox">
            
            <div class="panelmore"><a href="#">更多</a><i class="iconfont">&#xe620;</i></div>
            
            <div class="easyui-panel" data-options="fit:true,border:true" title="柱状图" >
            
            <div id="chart3" class="chartbox" >
            <script type="text/javascript">
			// 基于准备好的dom，初始化echarts实例
			var myChart = echarts.init(document.getElementById('chart3'),'uimaker');
			
			// 指定图表的配置项和数据
			option = {
   
   
		   grid:{
				x:50,
				x2:20,
				y:30,
				height:160
			},		   
  
			calculable : true,
			xAxis : [
				{
					type : 'category',
					data : ['1月','2月','3月','4月','5月','6月']
				}
			],
			yAxis : [
				{
					type : 'value'
				}
			],
			series : [
				{
					name:'蒸发量',
					type:'bar',
					data:[40, 10, 30, 23.2, 25.6, 20.7],			   
				   
				},
		
			{
            name:'阳光',
            type:'bar',
            data:[80, 50, 7.0, 23.2, 60, 10],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
           
        	},
		
			{
            name:'灰尘',
            type:'bar',
            data:[2.0, 40, 30, 23.2, 25.6, 55],
            
           
       		},
        	{
            name:'降水量',
            type:'bar',
            data:[30, 20, 9.0, 70, 28.7, 90],
            markPoint : {
                data : [
                    {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183},
                    {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                ]
            },
            
       		}
    		]
			}; 
	
			// 使用刚指定的配置项和数据显示图表。
			myChart.setOption(option);
			
			window.addEventListener("resize",function(){
			myChart.resize();
			}); 
			
			</script>
				
            </div>
            
            </div>
            </div>
            
        </li>
        
    </ul>
    <!--panellist end-->
    
    
    
    <!--infolist start-->
    <div class="infolist">
    
        <div class="infoleft">
            <div class="infoboxleft">
            
            	<div class="panelmore"><a href="#">更多</a><i class="iconfont">&#xe620;</i></div>
            
            	<div class="easyui-panel" data-options="fit:true,border:true" title="订单管理" >
                
                <div class="tablebox">                
                
				<script type="text/javascript"> 
				$(function(){
					
				//json数据
				$('#dg').datagrid('loadData',{"total":28,"rows":[
						{"productid":"253","productname":"Koi","unitcost":10.00,"status":"查看","listprice":36.50,"attr1":"uimaker","itemid":"20180830"},
						{"productid":"200","productname":"Dalmation","unitcost":12.00,"status":"查看","listprice":18.50,"attr1":"admin","itemid":"20180829"},
						{"productid":"300","productname":"Rattlesnake","unitcost":12.00,"status":"查看","listprice":38.50,"attr1":"nanjing","itemid":"20180828"},
						{"productid":"150","productname":"Rattlesnake","unitcost":12.00,"status":"查看","listprice":26.50,"attr1":"easyui","itemid":"20180827"},
						{"productid":"1400","productname":"Iguana","unitcost":12.00,"status":"查看","listprice":35.50,"attr1":"uimaker","itemid":"20180826"},
						{"productid":"358","productname":"Manx","unitcost":12.00,"status":"查看","listprice":158.50,"attr1":"admin","itemid":"20180825"},
						{"productid":"270","productname":"Manx","unitcost":12.00,"status":"查看","listprice":83.50,"attr1":"moodoc","itemid":"20180824"},
						{"productid":"664","productname":"Persian","unitcost":12.00,"status":"查看","listprice":23.50,"attr1":"easyui","itemid":"20180823"},
						{"productid":"159","productname":"Persian","unitcost":12.00,"status":"查看","listprice":23.50,"attr1":"uimaker","itemid":"20180822"},					
				]});
				
				//隔行换色
				$('.textlist li:odd').addClass('odd');
				
				})
				</script>                
                
                <table id="dg" class="easyui-datagrid" 	
                data-options="singleSelect:true,collapsible:true,method:'get',fitColumns:true,scrollbarSize:0, border:false" >
				<thead>
				<tr>
                    <th data-options="field:'itemid',width:60">订单编号</th>
                    <th data-options="field:'productid',width:60,align:'center'">订单金额(元)</th>
                    <th data-options="field:'listprice',width:80,">下单时间</th>
                    <th data-options="field:'unitcost',width:80,">交易日期</th>
                    <th data-options="field:'attr1',width:60">买家ID</th>
                    <th data-options="field:'status',width:60,align:'center'">操作</th>
				</tr>
				</thead>
				</table>
                                
                </div>
                
                </div>
                
            </div>
        </div>
        
        <div class="inforight">
            <div class="infoboxright"> 
            
            	<div class="panelmore"><a href="#">更多</a><i class="iconfont">&#xe620;</i></div> 
            
            	<div class="easyui-panel" data-options="fit:true,border:true," title="通知公告" >                	
                    
                    <ul class="textlist">
                    <li><span></span><a href="#">easyui最新蓝色主题皮肤html模板即将上线！</a><em class="emcolor1 smallfont">hot</em><i>11-10</i></li>
                    <li><span></span><a href="#">2018年度公司现金个人表彰大会即将召开</a><em class="emcolor2 smallfont">new</em><i>11-09</i></li>
                    <li><span></span><a href="#">订单管理系统功能升级效率大幅提升</a><em class="emcolor3 smallfont">rec</em><i>11-08</i></li>
                    <li><span></span><a href="#">精美后台管理系统模板html免费下载-uimaker</a><i>11-07</i></li>
                    <li><span></span><a href="#">大学生职场新人产品经理晋级课堂</a><i>11-06</i></li>
                    <li><span></span><a href="#">卡通头像设计ui教程-您身边最好的在线课堂</a><i>11-05</i></li>
                    <li><span></span><a href="#">uimaker分享-最全面最基础的ui设计知识</a><i>11-04</i></li>
                    <li><span></span><a href="#">漂亮大数据可视化大屏展示ui设计</a><i>11-03</i></li>
                    <li><span></span><a href="#">严厉鄙视一切倒卖模板的行为-强烈谴责！</a><i>11-02</i></li>
                    <li><span></span><a href="#">uimaker网站最新office2016风格模板上线</a><i>11-01</i></li>
                    </ul>
                
                </div>  	
                
            </div>
        </div>
    
    </div>
    <!--infolist end-->
    
    
</body>

</html>
