<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>登录</title>

<!-- css -->
<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/themes/uimaker/easyui.css" th:href="@{/webjars/themes/uimaker/easyui.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/css/commons.css" th:href="@{/webjars/css/commons.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/css/icons.css" th:href="@{/webjars/css/icons.css}"/>
<link rel="stylesheet" type="text/css" href="../../css/login.css" th:href="@{/css/login.css}"/>

<!-- jquery -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
<!-- easyui -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/js/jquery-easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
<!-- other -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/jquery.form.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/jquery.validator.js" th:src="@{/webjars/js/nice-validator/jquery.validator.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/local/zh-CN.js" th:src="@{/webjars/js/nice-validator/local/zh-CN.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jparticle.jquery.min.js" th:src="@{/webjars/js/jparticle.jquery.min.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/commons.js" th:src="@{/webjars/js/commons.js}"></script>

<style type="text/css">
</style>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
//页面显示效果处理
$(document).ready(function() {
	$(".loginbg").height($(window).height()); 
	$(".loginbg").jParticle({
		background: "#0a73bc",
		color: "#fff"
	});
	var $dialog = $('<div/>');
	var $login = $('.login');
    $dialog.dialog({
		height: 434, 
		width: 758,
		content: $login.show(),
		border: false,
		shadow: false,
		noheader: true
    });
    $dialog.dialog('center');
    
    var resizeTimer = null;
    $(window).resize(function() {
    	if (resizeTimer){
    		clearTimeout(resizeTimer);
    	}
    	resizeTimer = setTimeout(function(){
    		$(".loginbg").height($(window).height());    
            $dialog.dialog('center');
    	} , 500);
    });
    
    /*QRcode角标翻页*/
    $(".corner-QRcode").on("click",function(){
        $(".account-layout").hide();
        $(".code-layout").show();
    });
    $(".corner-close").on("click",function(){
        $(".account-layout").show();
        $(".code-layout").hide();
    });
    /*QRcode角标翻页 end*/
});
	
//回车事件
function keyOnClick(e){
    var theEvent = window.event || e;
    var code = theEvent.keyCode || theEvent.which;
    if (code==13) {  //回车键的键值为13
    	loginFun();  //调用登录方法
    }
}
//登录方法
function loginFun(){
	$("#loginform").submit();
}
//页面加载完后的逻辑处理
$(document).ready(function() {
	var $formBody = $('#loginform');
    var $errorMessage = $('#error-message');
    
    function showErrorMessage(message){
    	var msgHtml = "<b></b>" + message;
    	$errorMessage.html(msgHtml);
    	$errorMessage.show();
    	//DialogUtils.alert("登陆失败",message,"error");
    }
    //隐藏错误信息
    function hideErrorMessage(){
    	$errorMessage.hide();
    }
  	
    //验证提示信息样式自定义
    $formBody.validator({
        stopOnError: false, //关闭此开关，以便一次性显示所有消息
        msgMaker: false,    //不要自动生成消息
        invalid: function(form, errors){
            var html = '';
            $.map(errors, function(msg){
                html += msg + ' ; ';
            });
            showErrorMessage(html);
        },
        valid: function(){
        	hideErrorMessage();
        	//DialogUtils.progress({
	        //	text : '数据提交中，请等待....'
	        //});
	        $formBody.ajaxSubmit({
			    url:/*[[@{/client/login}]]*/'/client/login',
			    success: function(data) {
			    	DialogUtils.progress('close');
					if(data.status == 'success'){
						window.location.href = /*[[@{/mainframe}]]*/'/' + data.data;
					}else{
						showErrorMessage(data.msg);
						if($.ObjectUtils.isEmpty(data.msg)){
							//showErrorMessage(data.msg);
						}else{
							//window.location.href = "/" + data.data;
						}
					}
			    } 
			});
			return false;
	    }
    });
    
	// 登陆按钮单击
	$("#loginbtn").click(function() {
		$("#loginform").submit();
	});
});
/*]]>*/
</script>
</head>

<body style="background:#0a73bc; overflow:hidden;">

<!--loginbg start-->
<div class="loginbg">
    <!--login start-->
	<div class="login" style="display: none;">
    	<!--loginbox start-->
        <div class="loginbox">
        	<form id="loginform" name="loginform" method="post">
	        	<div class="loginleft">
	        		<div class="text"><h2>Easyui蓝色风格模板</h2></div>
	        	</div>
        	
	        	<div class="loginright">
	        		<!-- 登陆框 -->
	        		<div class="account-layout">
			            <div class="login-form-layout">
			            	<div class="corner-QRcode"></div>
			            
			            	<span class="loginlogo"></span>
			            	
			            	<div class="message-wrap">
			            		<div class="error-message" style="display: none;"><b></b></div>
			            	</div>
			            	
			                <ul class="userlogin">
				                <li>
				                	<p class="loginuser"><i class="iconfont">&#xe602;</i></p>
				                	<cite><input name="username" class="easyui-textbox" value="admin"  style="width:100%; height:40px;"></cite>
				                </li>
				                <li>
				                	<p class="loginpassword"><i class="iconfont">&#xe616;</i></p>
				                	<cite><input name="password" class="easyui-textbox" value="123456" style="width:100%; height:40px;"></cite>
				                </li>
				                <li>
				                	<a id="loginbtn" class="loginbtn" href="javascript:void(0);">登录</a>
				                </li>
				                <li style="display: block;">
				                	<div class="forget-pw-wrap">
				                		<em><input class="easyui-checkbox" type="checkbox" name="remember_me" value="0"></em><b>记住用户名密码</b>
				                	
					                	<span class="forget-pw-safe">
											<a href="//passport.jd.com/uc/links?tag=safe" class="" target="_blank" 
												clstag="pageclick|keycount|login_pc_201804112|6">忘记密码</a>
										</span>
				                	</div>
				                </li>
			                </ul>
			            </div>
		            </div>
		            <!-- 登陆框 -->
	            
		            <!--二维码登录窗口框架-->
			        <div class="code-layout" style="display: none">
			            <div class="corner-close"></div>
			            <div class="caption">扫码登录</div>
			            <div class="describe">请使用最新版APP进行扫码登录</div>
			            <div class="QRcode">
			            	<img src="../../images/examples_QRcode.png" width="150" height="150"
			            		th:src="@{/images/login/examples_QRcode.png}"/>
			            </div>
			        </div>
			        <!--二维码登录窗口框架-->
			        
			        <!-- 第三方登陆 -->
		        	<div class="oauth-login-layout">
		            	<ul>
		            		<li>
			            		<b></b>
			            		<a href="javascript:void(0)"
			            			onclick="window.location='//qq.jd.com/new/qq/login.aspx'+window.location.search;return false;"
			            			clstag="pageclick|keycount|login_pc_201804112|3" class="pdl">
			            		<b class="QQ-icon"></b><span>QQ</span></a>
			            		<span class="line">|</span>
		            		</li>
		            		<li>
		            			<a href="javascript:void(0)" 
		            				onclick="window.location='//qq.jd.com/new/wx/login.action'+window.location.search;return false;" 
		            				clstag="pageclick|keycount|login_pc_201804112|4" class="pdl">
		            			<b class="weixin-icon"></b><span>微信</span></a>
		                  	</li>
		                  	<li class="extra-r">
		                  		<div>
		                  			<div class="regist-link">
		                          		<a href="//reg.jd.com/reg/person?ReturnUrl=http%3A%2F%2Fwww.jd.com" 
		                          			clstag="pageclick|keycount|login_pc_201804112|5" target="_blank"><b></b>立即注册</a>
		                          	</div>
		              			</div>
		              		</li>
		              	</ul>
		        	</div>
		        	<!-- 第三方登陆 -->
          		</div>
        </form>
        </div>
        <!--loginbox end-->
        <div class="loginshadow"></div>
    </div>
    
    <!--login end-->
    <div class="loginfooter"> CopyRight 2019&nbsp;&nbsp;版权所有&nbsp;&nbsp;cqtianxin.com&nbsp;&nbsp;WEBDEMO&nbsp;&nbsp;禁止网络转载&nbsp;&nbsp;渝ICP备0xxxxxxx号</div>
</div>    
<!--loginbg end-->

</body>
</html>