<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>WS运营管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- css -->
<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/themes/uimaker/easyui.css" th:href="@{/webjars/themes/uimaker/easyui.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/css/commons.css" th:href="@{/webjars/css/commons.css}"/>
<link rel="stylesheet" type="text/css" href="../../css/uimaker.css" th:href="@{/css/uimaker.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-easyui-extension/icons.css" th:href="@{/webjars/js/jquery-easyui-extension/icons.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/style/extEasyUIIcon.css" th:href="@{/webjars/style/extEasyUIIcon.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/css/commons.css" th:href="@{/webjars/css/commons.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/js/viewer/css/viewer.min.css" th:href="@{/webjars/js/viewer/css/viewer.min.css}"/>

<!-- jquery -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
<!-- jqueryui -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-ui/js/jquery-ui.custom.js" th:src="@{/webjars/js/jquery-ui/js/jquery-ui.custom.js}"></script>
<!-- easyui -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/js/jquery-easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/extEasyUI.js" th:src="@{/webjars/js/extEasyUI.js}"></script>
<!-- other -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/datepicker/WdatePicker.js" th:src="@{/webjars/js/extEasyUI.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/extEasyUI.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/jquery.validator.js" th:src="@{/webjars/js/extEasyUI.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/local/zh-CN.js" th:src="@{/webjars/js/extEasyUI.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/viewer/js/viewer-jquery.min.js" th:src="@{/webjars/js/viewer/js/viewer-jquery.min.js}"></script><!-- viewer -->

<!-- customize -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/commons.js" th:src="@{/webjars/js/commons.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/components.js" th:src="@{/webjars/js/components.js}"></script>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var _contextPath = /*[[@{/}]]*/'';
/*]]>*/
</script>

<!-- script type="text/javascript" charset="utf-8" src="../../mainframe/mainframe.js" th:src="@{/mainframe/mainframe.js}"></script  -->
</head>
<body>
<div class="container">
	<div id="pf-hd">
		<div class="pf-logo">
			<img alt="logo" src="../../webjars/images/main/main_logo.png" th:src="@{/webjars/images/main/main_logo.png}"/>
		</div>
		<div class="pf-nav-wrap">
			<!--<div class="pf-nav-ww">-->
			<div class="pf-nav-ww">
				<ul class="pf-nav"></ul>
			</div>
			<!--</div>-->
			<a href="javascript:;" class="pf-nav-prev disabled iconfont">&#xe606;</a>
			<a href="javascript:;" class="pf-nav-next iconfont">&#xe607;</a>
		</div>
		<div class="pf-user">
			<div class="pf-user-photo">
				<img alt="" src="../../webjars/images/main/user.png" th:src="@{/webjars/images/main/user.png}"/>
			</div>
			<h4 class="pf-user-name ellipsis">${operator.loginName }</h4>
			<i class="iconfont xiala">&#xe607;</i>
			<div class="pf-user-panel">
				<ul class="pf-user-opt">
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe60d;</i>
							<span class="pf-opt-name">用户信息</span>
						</a>
					</li>
					<li class="pf-modify-pwd">
						<a href="http://www.uimaker.com">
							<i class="iconfont">&#xe634;</i> 
							<span class="pf-opt-name">修改密码</span>
						</a>
					</li>
					<li class="pf-logout">
						<a href="logout.action"> 
							<i class="iconfont">&#xe60e;</i> 
							<span class="pf-opt-name">退出</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="pf-bd">
		<div class="pf-sider-wrap"></div>
		<div id="pf-page">
			<div id="index_tabs" class="easyui-tabs1" style="width:100%;height:100%;">
				<div title="主查询" data-options="border:false" style="overflow: hidden;">
					<iframe src="${contextPath }/masterquery/toMasterQuerier.action" frameborder="0" style="border: 0; width: 100%; height: 98%;"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div id="pf-ft">
		<div class="system-name">
			<i class="iconfont">&#xe6fe;</i> 
			<span>信息管理系统&nbsp;v1.0</span>
		</div>
		<div class="copyright-name">
			<span>CopyRight&nbsp;2017&nbsp;&nbsp;txteam.com&nbsp;版权所有</span> <i
				class="iconfont">&#xe6ff;</i>
		</div>
	</div>
</div>
<div id="mm" class="easyui-menu tabs-menu" style="width:120px;">
     <div id="mm-tabclose">关闭</div>
     <div id="mm-tabcloseall">关闭所有</div>
     <div id="mm-tabcloseother">关闭其他</div> 
</div>
</body> 
</html>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(window).resize(function(){
	$('.tabs-panels').height($("#pf-page").height()-46);
	$('.panel-body').height($("#pf-page").height()-76)
}).resize();
var page = 0,
    pages = ($('.pf-nav').height() / 70) - 1;
if(pages === 0){
  $('.pf-nav-prev,.pf-nav-next').hide();
}

//退出系统
function logoutFun(){
	DialogUtils.confirm("","是否确认退出系统",function(flag){
		if(flag){
			window.location.href = _contextPath + "/mainframe/logout.action";
		}
	});
}
$.bindge("logout",logoutFun);

//修改密码
function modifyPasswordFun(){
	DialogUtils.openModalDialog(
		"modifyPassword",
		"修改密码",
		$.formatString("${contextPath}/operator/toModifyPassword.action"),
		450,150,function(){
	});
}
$.bindge("modifyPassword",modifyPasswordFun);

//加载菜单
$(document).ready(function(){
	/*
	$.post("${contextPath}/menu/queryTreeListByAuth.action",function(menus){
		var menu = new tx.Menu({
			menus:menus
	    });
	});
	*/
});
/*]]>*/
</script>