<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>WS运营管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- css -->
<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css" th:href="@{/webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/themes/uimaker/easyui.css" th:href="@{/webjars/themes/uimaker/easyui.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/css/commons.css" th:href="@{/webjars/css/commons.css}"/>
<link rel="stylesheet" type="text/css" href="../../webjars/css/icons.css" th:href="@{/webjars/css/icons.css}"/>
<link rel="stylesheet" type="text/css" href="../../css/mainframe.css" th:href="@{/css/mainframe.css}"/>
<!-- jquery -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
<!-- jqueryui -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-ui/js/jquery-ui.custom.js" th:src="@{/webjars/js/jquery-ui/js/jquery-ui.custom.js}"></script>
<!-- easyui -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/js/jquery-easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/ext.easyui.js" th:src="@{/webjars/js/ext.easyui.js}"></script>
<!-- other -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/jquery.form.js}"></script>
<script type="text/javascript" charset="utf-8" src="../../webjars/js/viewer/js/viewer-jquery.min.js" th:src="@{/webjars/js/viewer/js/viewer-jquery.min.js}"></script><!-- viewer -->
<!-- customize -->
<script type="text/javascript" charset="utf-8" src="../../webjars/js/commons.js" th:src="@{/webjars/js/commons.js}"></script>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var _contextPath = /*[[@{/}]]*/'';
/*]]>*/
</script>

<script type="text/javascript" th:inline="javascript">
var $mainframe = $("<div/>");
$(document).ready(function(){
	var $index_layout = $('#index_layout');
	$index_layout.layout({
		fit : true
	});
	var $index_tabs = $('#index_tabs');
	var $index_tabs_menu = $('#index_tabs_menu');
    var etabsmenu = $index_tabs_menu.menu();
	/** 初始化页面tabs */
	var etabs = $index_tabs.tabs({
	    fit : true,
	    border : false,
	    //tabHeight: 44,
	    onBeforeClose:function(title,index){
        	$.triggerge('mainframe_tab_before_close',[{title:title,index:index}]);
        },
        onSelect:function(title,index){
			var selectedTab = $index_tabs.tabs('getTab',title);
			
			var $iframe = $(selectedTab).find("iframe.mainframe_tab");
			if($iframe.attr('refresh') && $iframe.attr('refresh') === 'true'){
				$iframe.attr('src',$iframe.attr('newsrc'));
			}
		},
        onContextMenu:function(e,title,index) {
            e.preventDefault();
            $index_tabs_menu.menu('show', {
                left : e.pageX,
                top : e.pageY
            });
        }
		,tools:'#tabs-tool'
	});
	function refreshSelectedTab(){
		var href = etabs.tabs('getSelected').panel('options').href;
        if (href) {
            /*说明tab是以href方式引入的目标页面*/
            var index = etabs.tabs('getTabIndex', etabs.tabs('getSelected'));
            etabs.tabs('getTab', index).panel('refresh');
        } else {
            /*说明tab是以content方式引入的目标页面*/
            var panel = etabs.tabs('getSelected').panel('panel');
            var frame = panel.find('iframe');
            try {
                if (frame.length > 0) {
                    for (var i = 0; i < frame.length; i++) {
                        frame[i].contentWindow.document.write('');
                        frame[i].contentWindow.close();
                        frame[i].src = frame[i].src;
                    }
                    if (navigator.userAgent.indexOf("MSIE") > 0) {// IE特有回收内存方法
                        try {CollectGarbage();} catch (e) {}
                    }
                }
            } catch (e) {}
        }
	}
	$('#tabs-tool-menu').click(function(e){
		e.preventDefault();
		var _$this = $(this);
    	//var x = $('#tabs-tool-menu').position().left + _$this.width();
    	//var y = $('#tabs-tool-menu').position().top - _$this.height();
    	var x =  e.pageX;
    	var y = e.pageY;
    	etabsmenu.menu('show', {
            left : x,
            top : y
        });
	});
	$('#tabs-tool-refresh').click(function(){
		refreshSelectedTab();
	});
	$('#refresh').click(function(){
		refreshSelectedTab();
	});
	//关闭当前
	$('#close_current').click(function(){
		var selected_index = etabs.tabs('getTabIndex', etabs.tabs('getSelected'));
        var tab = etabs.tabs('getTab', selected_index);
        if (tab.panel('options').closable) {
            etabs.tabs('close', selected_index);
        } else {
            //$.messager.alert('提示', '[' + tab.panel('options').title + ']不可以被关闭！', 'error');
        }
	});
	//关闭其他
	$('#close_other').click(function(){
		var selected_index = etabs.tabs('getTabIndex', etabs.tabs('getSelected'));
		$.each(etabs.tabs('tabs'),function(i,tab){
			var index_temp = etabs.tabs('getTabIndex', tab);
			if (tab.panel('options').closable && index_temp != selected_index) {
	            etabs.tabs('close', index_temp);
	        }
	    });
	});
	//全部关闭
	$('#close_all').click(function(){
		$.each(etabs.tabs('tabs'),function(i,tab){
			var index_temp = etabs.tabs('getTabIndex', tab);
			if (tab.panel('options').closable) {
	            etabs.tabs('close', index_temp);
	        }
	    });   
	});
	
	function addTab(event, options){
		var options = $.extend({}, {
	    	id: null,
	        title: "",
	        href: null,
	        refreshWhenSelect: false,
	        iconCls: null,
	        contentText : null
	    }, options);
	    
	    //如果指定tab已经存在，则直接将该tab选中即可
	    if ($indexTabs.tabs('exists', options.title)) {
	    	var selectedTab = $indexTabs.tabs('getTab',options.title);
				var $iframe = $(selectedTab).find("iframe.mainframe_tab");
				var oldSrc = $iframe.attr('src');
				if($iframe.attr('refresh') === 'true'){
					$iframe.attr('newsrc',options.href);
				}else{
					$iframe.attr('src',options.href);
				}
	        $indexTabs.tabs('select', options.title);
	        //如果已经存在直接关闭加载进度条
	        DialogUtils.progress('close');
	        return false;
	    } else if (options.href) {
	        //以iframe的形式显示tab
	        var newIframe = '<iframe src="' + options.href + '" width="100%" height="98%" frameborder="0" scrolling="auto" style="border:0;width:100%;height:98%;" class="mainframe_tab"></iframe>';
	        if(options.refreshWhenSelect){
	        	newIframe = '<iframe src=' + options.href + ' newsrc="' + options.href + '" refresh="true" width="100%" height="98%" frameborder="0" scrolling="auto" style="border:0;width:100%;height:98%;" class="mainframe_tab"></iframe>';
	        }
	        $indexTabs.tabs('add', {
	            title : options.title,
	            closable : true,
	            iconCls : options.iconCls,
	            content : newIframe,
	            border : false,
	            fit : true
	        });
	    }
	}
	$mainframe.bind("addTab", addTab);
	$mainframe.bind("addOrSelectTab", addTab);
	$mainframe.bind("refreshTab", function(event, options) {
	    var options = $.extend({}, {
	        title : "",
	        href : null,
	        iconCls : null,
	        contentText : null
	    }, options);
	    
	    //如果指定tab已经存在，则直接将该tab选中即可
	    if ($indexTabs.tabs('exists', options.title)) {
	        //TODO:后续加入，根据tab中如果存在refreshOnEverySelected属性时每次选中均刷新的逻辑<br/>
	        $indexTabs.tabs('select', options.title);
	        var tab = $indexTabs.tabs('getTab', options.title);
	        if($(tab).find("iframe.mainframe_tab") > 0){
	            var $iframe = $(tab).find("iframe.mainframe_tab");
	            if(!$.ObjectUtils.isEmpty(options.href)){
	                $iframe.attr("src",options.href);
	            }else{
	                var srcTemp = $iframe.attr("src");
	                $iframe.attr("src",srcTemp);
	            }
	        }
	        //如果已经存在直接关闭加载进度条
	        DialogUtils.progress('close');
	        return false;
	    }
	});
	$mainframe.bind("closeSelectedTab",function(event){
		//console.info($indexTabs.tabs("getSelected").title);
		var tab = $indexTabs.tabs('getSelected');  
	    var index = $indexTabs.tabs('getTabIndex',tab);  
		$indexTabs.tabs('close',index);
	});
	$mainframe.bind("closeTab",function(event, options){
		var options = $.extend({}, {
	        title : ""
	    }, options);
		console.log('closeTab:' + options.title);
		//如果指定tab已经存在，则直接将该tab选中即可
	    if ($indexTabs.tabs('exists', options.title)) {
	    	$indexTabs.tabs('close', options.title);
	        return false;
	    }
	});
});
</script>

<!-- script type="text/javascript" charset="utf-8" src="../../mainframe/mainframe.js" th:src="@{/mainframe/mainframe.js}"></script  -->
<script type="text/javascript" th:inline="javascript">
$(function(){
	$.widget("txcomponent.top_menu",{
		options: {
			url : "",
			onSelect: null
		},
		_create: function(){
			var _this = this;
			var _options = _this.options;
			var _element = _this.element;
			
			_this._load();
		},
		_load: function(){
			var _this = this;
			var _options = _this.options;
			var _url = _options.url;
			
			//同步执行
			$.ajax({
			   type: "GET",
			   async: false,
			   url: _url,
			   success: function(menus){
				   $.each(menus,function(index,menuTemp){
						var menu = $.extend({
							href: 'javascript:void(0);',
							icon: '&#xe60e;',
							text: '' 
						},menuTemp);
						
						_this._addMenu(menu);
					});
			   }
			});
		},
		_addMenu: function(menu){
			var _this = this;
			var _options = _this.options;
			var _url = _options.url;
			var _element = _this.element;
			
			var $a = $('<a>').attr('href',menu.href).append('<i class="iconfont">' + menu.icon + '</i>' + menu.text);
			var $li = $('<li>').append($a);
			$(_element).append($li);
			
			_this.element.bind('_select_' + menu.id,{'menu': menu,'$el':$li},function(event){
				var menu = event.data.menu;
				var $el = event.data.$el;
				
				$(_element).children("li").children("a").removeClass("selected");
				$el.children("a").addClass("selected");
				
				_this.options.onSelect(menu,$li);
			});
			$li.click({'menu': menu},function(event){
				var menu = event.data.menu;
				_this.element.trigger('_select_' + menu.id);
			});
		},
		//服务于默认选中菜单时调用的方法
		select: function(id){
			var _this = this;
			var _element = _this.element;
			
			_this.element.trigger('_select_' + id);
		},
	    destroy : function(){
	    	var _this = this;
			var _element = _this.element;
			
			//移除内部内容
			$(_element).empty();
			//调用默认实现
			$.Widget.prototype.destroy.call(this);
	    }
	});
	$.widget("txcomponent.left_menu",{
		options: {
			url: "",
			default_catalog: "",
			onAccordionItemSelect: null
		},
		_catalog2accordionMap: {},
		_create: function(){
			var _this = this;
			var _options = _this.options;
			var _element = _this.element;
			
			_this._load();
		},
		_load: function(){
			var _this = this;
			var _options = _this.options;
			
			_this.createAccordion(_options.default_catalog);
		},
		createAccordion: function(catalog){
			var _this = this;
			var _options = _this.options;
			var _element = _this.element;
			
			if($.ObjectUtils.isEmpty(catalog)){
				return ;
			}
			if(_this._catalog2accordionMap[catalog] != null){
				$.each(_this._catalog2accordionMap,function(cat,$acc_menu_catalog){
					$acc_menu_catalog.hide();
				});
				_this._catalog2accordionMap[catalog].show();
				return ;
			}
			
			var _url = _options.url + "?catalog=" + catalog;
			//同步执行
			$.ajax({
			   	type: "GET",
			   	url: _url,
			   	async: false,
			   	success: function(menuMapList){
				   	if($.ObjectUtils.isEmpty(menuMapList)){
						return ;
					}
				   	
				  	//隐藏已显示的菜单
					$.each(_this._catalog2accordionMap,function(cat,$accordionTemp){
						$accordionTemp.hide();
					});
					var $accordion = $('<div style="width:100%; height:750px;"></div>').attr("id",catalog).appendTo(_this.element);
					_this._catalog2accordionMap[catalog] = $accordion;
					$accordion.accordion({
			            fit : true,
			            border : false,
			            onSelect : function(title, index) {
			                //得到选中的面板
			                var menu = $accordion.data('item_' + index);
			            	$accordion.trigger('_select_' + menu.id);
			            }
			        });
					
				   	$.each(menuMapList,function(index,menuMapTemp){
						var menu = $.extend({
							href: 'javascript:void(0);',
							icon: 'icon-Components',
							text: '' 
						},menuMapTemp.menu);
						
						$accordion.data('item_' + index,menu);
						$accordion.bind('_select_' + menu.id,{menu: menu},function(event){
							var menu = event.data.menu;
							
							_options.onAccordionItemSelect(menu);
						});
						_this._addAccordionItem($accordion,menu,index);
						_this._createTree($accordion,menu,menuMapTemp.menuList,index)
					});
			   }
			});
		},
		_addAccordionItem: function($accordion,menu,index){
			var _this = this;
			var _options = _this.options;
			var _url = _options.url;
			var _element = _this.element;
            
            $accordion.accordion('add', {
                title : menu.text,
                closable : false,
                selected : index == 0 ? true : false,
                iconCls: "icon-Components",
                content : '<ul id="' + menu.id + '_tree"></ul>'
            });
		},
		_createTree: function($accordion,menu,menuList,index){
			var _this = this;
			var _options = _this.options;
			var _url = _options.url;
			var _element = _this.element;
			
			if($.ObjectUtils.isEmpty(menuList)){
				return ;
			}
			
			var $ul = $accordion.find("#" + menu.id + '_tree');
			$ul.tree({
            	idField: 'id',
            	childrenField: 'childs',
            	/*
            	iconField: function(row){
                    if($.ObjectUtils.isEmpty(row.childs)){
                        return "database";
                    }else{
                        return "database_gear";
                    }
            	},
            	*/
                data: menuList,
                onClick: function(node){
                }
            });
		},
	    destroy : function(){
	    	var _this = this;
			var _element = _this.element;
			
			//移除内部内容
			$(_element).empty();
			//调用默认实现
			$.Widget.prototype.destroy.call(this);
	    }
	});
});
</script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
//页面加载完后的逻辑处理
$(document).ready(function() {
	function onTabMenuClick(menu){
		
	}
	function onDialogMenuClick(menu){
		
	}
	function onNavMenuClick(menu){
		if(!menu || !menu.attributes || !menu.attributes.link){
			return ;
		}
		$(".left").left_menu('createAccordion',menu.attributes.link);
	}
	function onEventMenuClick(menu){
		
	}
	function onDefaultMenuClick(menu){
		
	}
	var onMenuSelect = function(menu){
		if(menu.type == 'tab'){
			onTabMenuClick(menu);
		}else if(menu.type == 'dialog'){
			onDialogMenuClick(menu);
		}else if(menu.type == 'nav'){
			onNavMenuClick(menu);
		}else if(menu.type == 'event'){
			onEventMenuClick(menu);
		}else{
			onDefaultMenuClick(menu);
		}
	}
	$(".nav").top_menu({
		url: /*[[@{/menu/queryMenuListBySecurity?catalog=nav_catalog}]]*/'',
		onSelect: onMenuSelect
	});
	$(".left").left_menu({
		default_catalog: 'workbench_catalog',
		url: /*[[@{/menu/queryMenuMapListBySecurity}]]*/'',
		onAccordionItemSelect: onMenuSelect
	});
	//默认选中菜单工作台: workbench_nav_menu
	$(".nav").top_menu('select','workbench_nav_menu');
});
/*]]>*/
</script>

</head>
<body>
<div id="index_layout">
	<div id="pf-hd" data-options="region:'north',border:false" class="header">
		<div class="logo"><img src="../../images/logo.png" th:src="@{/images/logo.png}"></div>
		
        <ul class="nav">
        </ul>
        
        <div class="topright">
            <ul class="toptool">
	            <li><a href="#"><i class="iconfont">&#xe6ba;</i></a><em>3</em></li>
	            <li><a href="#"><i class="iconfont">&#xe621;</i></a><em class="gcolor">5</em></li>
	            <li>
	            	<span class="userface"><i class="iconfont">&#xe60d;</i></span>
	            	<a href="javascript:void(0);"><font>admin&nbsp;&nbsp;<i class="iconfont userdown">&#xe618;</i></font></a>
	            </li>
	            <li><a href="#"><i class="iconfont">&#xe61a;</i></a></li>
            </ul>
        </div>
	</div>
	
	<div data-options="region:'west',split:true,border:false,title:'菜单',iconCls:'icon-yingyong-copy'" class="left">
    </div>
	
	<div data-options="region:'center',border:false" class="center">
    	<div id="index_tabs" class="index_tabs">
			<div title="首页">
				<iframe id="default" name="right" src="default.html" th:src="@{/workbench/}"  width="100%" height="98%" frameborder="0" scrolling="auto" style="border:0;width:100%;height:98%;" class="mainframe_tab"></iframe>
			</div>
       	</div>    
	</div>
	
	<div data-options="region:'south',border:false"  class="footer">
    	<span class="fleft"><i class="iconfont">&#xe622;</i>webdemo模板 </span>
        <span class="fright">cqtianxin版权所有<i class="iconfont">&#xe620;</i></span>
    </div>
</div>

<div id="tabs-tool" style="display: none;">
	<a href="javascript:void(0);" id="tabs-tool-refresh" class="easyui-linkbutton" plain="true" iconCls="transmit"></a>
	<a href="javascript:void(0);" id="tabs-tool-menu" class="easyui-linkbutton" plain="true" iconCls="cog"></a>
</div>

<div id="index_tabs_menu" style="width: 120px; display: none;">
	<div id="refresh" data-options="iconCls:'transmit'">刷新</div>
	<div class="menu-sep"></div>
	<div id="close_current" data-options="iconCls:'delete'">关闭当前标签页</div>
	<div id="close_other" data-options="iconCls:'delete'">关闭其他标签页</div>
	<div id="close_all" data-options="iconCls:'delete'">关闭所有标签页</div>
</div>

</body>
</html>

