<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>新增测试对象[addTestDemo]</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<block th:replace="fragments/easyui_header::common_replace">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css" th:href="@{/webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/viewer/css/viewer.min.css" th:href="@{/webjars/js/viewer/css/viewer.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/css/icons.css" th:href="@{/webjars/css/icons.css}"/>
	<!-- customize -->
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/js/jquery-easyui/themes/bootstrap/easyui.css" th:href="@{/webjars/themes/easyui/css/easyui.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/css/commons.css" th:href="@{/webjars/themes/easyui/css/commons.css}"/>
	
	<!-- jquery -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
	<!-- jqueryui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-ui/js/jquery-ui.custom.js" th:src="@{/webjars/js/jquery-ui/js/jquery-ui.custom.js}"></script>
	<!-- easyui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/ext.easyui.js" th:src="@{/webjars/themes/easyui/js/ext.easyui.js}"></script>
	<!-- other -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/datepicker/WdatePicker.js" th:src="@{/webjars/js/datepicker/WdatePicker.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/jquery.form.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/jquery.validator.js" th:src="@{/webjars/js/nice-validator/jquery.validator.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/local/zh-CN.js" th:src="@{/webjars/js/nice-validator/local/zh-CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/viewer/js/viewer-jquery.min.js" th:src="@{/webjars/js/viewer/js/viewer-jquery.min.js}"></script><!-- viewer -->
	<!-- customize -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/commons.js" th:src="@{/webjars/themes/easyui/js/commons.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/components.js" th:src="@{/webjars/themes/easyui/js/components.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var _contextPath = /*[[@{/}]]*/'/';
	/*]]>*/
	</script>
</block>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
	parent.DialogUtils.progress('close');
	
	//验证器
	$('#entityForm').validator({
	    valid: function(){
	        //表单验证通过，提交表单到服务器
	        DialogUtils.progress({
	        	text : '数据提交中，请等待....'
	        });
			$('#entityForm').ajaxSubmit({
				url:/*[[@{/testDemo/add}]]*/'',
			    success: function(data) {
			    	DialogUtils.progress('close');
					if(data){
						parent.DialogUtils.tip("新增测试对象成功.");
						parent.DialogUtils.closeDialogById("addTestDemo");
					}else{
						DialogUtils.alert("错误提示","新增测试对象失败.","error");
					}
			    } 
			});
			return false;
	    }
	});
	
	//退出
	$("#cancelBtn").click(function(){
		parent.DialogUtils.closeDialogById("addTestDemo");
	});
	//提交
	$("#submitBtn").click(function(){
		$('#entityForm').submit();
	});
});
/*]]>*/
</script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
	<div data-options="region:'center',border:false" title="" style="overflow-x: hidden;overflow-y: auto;">
		<form id="entityForm" method="post" class="form" th:object="${testDemo}">
			<input id="id" name="id" type="hidden" value="" th:value="*{id}"/>
			<table class="table">
				<tr>
					<th class="narrow" width="25%">编码:<span class="tRed">*</span></th>
					<td>
						<input id="code" name="code" type="text" th:data-rule="'编码:required;length[1~16];remote[' + @{/testDemo/validate} + ', code, id];'"
							th:value="*{code}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">名称:<span class="tRed">*</span></th>
					<td>
						<input id="name" name="name" type="text" th:data-rule="'名称:required;length[1~16];remote[' + @{/testDemo/validate} + ', name, id];'"
							th:value="*{name}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">测试int值:</th>
					<td>
						<input id="testInt" name="testInt" type="text" 
							th:value="*{testInt}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">测试Long值:</th>
					<td>
						<input id="testLong" name="testLong" type="text" 
							th:value="*{testLong}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">测试Integer值:</th>
					<td>
						<input id="testInteger" name="testInteger" type="text" 
							th:value="*{testInteger}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">测试BigDecimal值:</th>
					<td>
						<input id="testBigDecimal" name="testBigDecimal" type="text" 
							th:value="*{testBigDecimal}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">类型:</th>
					<td>
						<select id="type" name="type" >
							<option value="">--- 请选择 ---</option>
							<option th:each="typeTemp:${types}" th:value="${typeTemp.code}" th:text="${typeTemp.name}" th:selected="${testDemo.type eq typeTemp}"></option>
						</select>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">superInt:</th>
					<td>
						<input id="superInt" name="superInt" type="text" 
							th:value="*{superInt}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">superBoolean:</th>
					<td>
						<select id="superBoolean" name="superBoolean" >
							<option value="true" th:selected="${testDemo.superBoolean eq true}">是</form:option>
							<option value="false" th:selected="${testDemo.superBoolean eq false}">否</form:option>
						</select>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">superDemo:</th>
					<td>
						<!-- //TODO:修改其显示逻辑 -->
						<input id="superDemo.code" name="superDemo.code" th:value="*{superDemo?.code}"/>
					</td>
				</tr>
				<tr>
					<th class="narrow" width="25%">superBigDeceimal:</th>
					<td>
						<input id="superBigDeceimal" name="superBigDeceimal" type="text" 
							th:value="*{superBigDeceimal}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">superIntegerObject:</th>
					<td>
						<input id="superIntegerObject" name="superIntegerObject" type="text" 
							th:value="*{superIntegerObject}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">superIsBooleanObject:</th>
					<td>
						<select id="superIsBooleanObject" name="superIsBooleanObject" >
							<option value="">--- 请选择 ---</option>
							<option value="true" th:selected="${testDemo.superIsBooleanObject eq true}">是</form:option>
							<option value="false" th:selected="${testDemo.superIsBooleanObject eq false}">否</form:option>
						</select>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">到期时间:</th>
					<td>
						<input id="expiryDate" name="expiryDate" type="text" readonly="readonly"
							onclick="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd',startDate:'%y-{%M-1}-%d'})" 
							th:value="${#dates.format(testDemo.expiryDate,'yyyy-MM-dd HH:mm:ss')}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">是否可编辑:</th>
					<td>
						<select id="modifyAble" name="modifyAble" >
							<option value="true" th:selected="${testDemo.modifyAble eq true}">是</form:option>
							<option value="false" th:selected="${testDemo.modifyAble eq false}">否</form:option>
						</select>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">上级ID:</th>
					<td>
						<input id="parentId" name="parentId" type="text" data-rule="上级ID:length[0~127];"
							th:value="*{parentId}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">备注:</th>
					<td>
						<input id="remark" name="remark" type="text" data-rule="备注:length[0~127];"
							th:value="*{remark}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">nested1:</th>
					<td>
						<!-- //TODO:修改其显示逻辑 -->
						<input id="nested1.id" name="nested1.id" th:value="*{nested1?.id}"/>
					</td>
				</tr>
				<tr>
					<th class="narrow" width="25%">nested2:</th>
					<td>
						<!-- //TODO:修改其显示逻辑 -->
						<input id="nested2.code" name="nested2.code" th:value="*{nested2?.code}"/>
					</td>
				</tr>
				<tr>
					<th class="narrow" width="25%">是否成功:</th>
					<td>
						<select id="success" name="success" >
							<option value="">--- 请选择 ---</option>
							<option value="true" th:selected="${testDemo.success eq true}">是</form:option>
							<option value="false" th:selected="${testDemo.success eq false}">否</form:option>
						</select>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">生效时间:</th>
					<td>
						<input id="effictiveDate" name="effictiveDate" type="text" readonly="readonly"
							onclick="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd',startDate:'%y-{%M-1}-%d'})" 
							th:value="${#dates.format(testDemo.effictiveDate,'yyyy-MM-dd HH:mm:ss')}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">attributes:</th>
					<td>
						<input id="attributes" name="attributes" type="text" data-rule="attributes:length[0~127];"
							th:value="*{attributes}"/>
					</td>
				</tr>			
				<tr>
					<th class="narrow" width="25%">描述:</th>
					<td>
						<input id="description" name="description" type="text" data-rule="描述:length[0~127];"
							th:value="*{description}"/>
					</td>
				</tr>			
			</table>
		</form>
	</div>
	
	<div data-options="region:'south',border:false" title="" style="height: 40px; overflow: hidden;padding-right: 50px;" class="dialog-button">
		<a id="submitBtn" href="javascript:void(0);" style="width: 65px;" class="easyui-linkbutton">提交</a>
	</div>
</body>