<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>institutionInfoMain</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<block th:replace="fragments/easyui_header::common_replace">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css" th:href="@{/webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/viewer/css/viewer.min.css" th:href="@{/webjars/js/viewer/css/viewer.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/css/icons.css" th:href="@{/webjars/css/icons.css}"/>
	<!-- customize -->
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/js/jquery-easyui/themes/bootstrap/easyui.css" th:href="@{/webjars/themes/easyui/css/easyui.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/themes/easyui/css/commons.css" th:href="@{/webjars/themes/easyui/css/commons.css}"/>
	
	<!-- jquery -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
	<!-- jqueryui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-ui/js/jquery-ui.custom.js" th:src="@{/webjars/js/jquery-ui/js/jquery-ui.custom.js}"></script>
	<!-- easyui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/themes/easyui/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/ext.easyui.js" th:src="@{/webjars/themes/easyui/js/ext.easyui.js}"></script>
	<!-- other -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/datepicker/WdatePicker.js" th:src="@{/webjars/js/datepicker/WdatePicker.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/jquery.form.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/jquery.validator.js" th:src="@{/webjars/js/nice-validator/jquery.validator.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/local/zh-CN.js" th:src="@{/webjars/js/nice-validator/local/zh-CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/viewer/js/viewer-jquery.min.js" th:src="@{/webjars/js/viewer/js/viewer-jquery.min.js}"></script><!-- viewer -->
	<!-- customize -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/commons.js" th:src="@{/webjars/themes/easyui/js/commons.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/themes/easyui/js/components.js" th:src="@{/webjars/themes/easyui/js/components.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var _contextPath = /*[[@{/}]]*/'/';
	/*]]>*/
	</script>
</block>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
	parent.DialogUtils.progress('close');
});
/*]]>*/
</script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
	<div data-options="region:'center',border:false" style="overflow-x: hidden;overflow-y: auto;">
		<table class="easyui-datagrid" title="行政许可 [工商局]"
				data-options="fit:true,fitColumns:true,nowrap:true,striped:true,singleSelect:true">
			<thead>
				<tr>
					<th data-options="field:'itemid',width:30">序号</th>
					<th data-options="field:'productid',width:100">许可文件编号</th>
					<th data-options="field:'listprice',width:100">许可文件名称</th>
					<th data-options="field:'unitcost',width:60">有效期自</th>
					<th data-options="field:'attr1',width:60">有效期至</th>
					<th data-options="field:'status',width:80">许可机关</th>
					<th data-options="field:'status',width:100">许可内容</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>九人社工时审字[2016]XXX号	</td>
					<td>企业特殊工时制度审批</td>
					<td>2000-12-26</td>
					<td>-</td>
					<td>九龙坡区人力资源和社会保障局</td>
					<td>公司部分岗位实行不定时工作制和综合计算工时工作制</td>
				</tr>
				<tr>
					<td>1</td>
					<td>九人社工时审字[2000]XXX号	</td>
					<td>劳务派遣许可证</td>
					<td>2008-10-26</td>
					<td>-</td>
					<td>重庆市九龙坡区人力资源和社会保障局</td>
					<td>重庆市九龙坡区人力社保局对于重庆亚德科技股份有限公司部分岗位实行不定时工作制和综合计算工时工作制的审批</td>
				</tr>
			</tbody>
		</table>
		<br/> 
	    <table class="easyui-datagrid" title=""
			data-options="fit:true,fitColumns:true,nowrap:true">
			<thead>
				<tr>
					<th data-options="field:'itemid',width:30">序号</th>
					<th data-options="field:'productid',width:100">决定文书号</th>
					<th data-options="field:'listprice',width:100">许可机关</th>
					<th data-options="field:'status',width:80">决定日期</th>
					<th data-options="field:'status',width:100">内容</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>九人社工时审字[2019]XX号</td>
					<td>重庆市九龙坡区人力资源和社会保障局</td>
					<td>2019-12-26</td>
					<td>详情</td>
				</tr>
				<tr>
					<td>2</td>
					<td>九人社工时审字[2020]XX号</td>
					<td>重庆市九龙坡区人力资源和社会保障局</td>
					<td>2020-01-06</td>
					<td>详情</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>