

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <block th:replace="fragments/layui_header::common_replace">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../webjars/themes/layui/layui/css/layui.css" th:href="@{/webjars/themes/layui/layui/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" href="../../webjars/themes/layui/style/admin.css" th:href="@{/webjars/themes/layui/style/admin.css}" media="all">
    <!-- layui -->
    <script type="text/javascript" charset="utf-8" src="../../webjars/themes/layui/layui/layui.js" th:src="@{/webjars/themes/layui/layui/layui.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      var _contextPath = /*[[@{/}]]*/'';
      /*]]>*/
    </script>
  </block>
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-form-capacity" id="layuiadmin-form-capacity" style="padding: 20px 0 0 0;">

  </div>

<script type="text/javascript" th:inline="javascript">
  layui.config({
    base: /*[[@{/webjars/themes/layui/}]]*/_contextPath + 'webjars/themes/layui/'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form'], function(){
    var $ = layui.$
    ,form = layui.form;

    var capacities = [[${institutionCapacities}]];
    if(capacities != null && capacities.length > 0){
      for(var i = 0; i < capacities.length; i++) {
        $("#layuiadmin-form-capacity").append("<div class='layui-form-item'>" +
                "<label class='layui-form-label'>"+ capacities[i].type.name +"</label>" +
                "<div class='layui-input-inline'>" +
                "<input type='text' value='"+capacities[i].remark+"' readonly='readonly' class='layui-input'/>" +
                "</div>" +
                "</div>");
      }
    }else{
      $("div").append("<span style='width:100%;text-align:center;display:block;'>暂无信息</span>");
    }

  })
</script>
</body>
</html>