<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_replace">
	<meta charset="utf-8"/>
	<title>WS运营管理系统</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.css" th:href="@{/webjars/js/jquery-ui/css/no-theme/jquery-ui.custom.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-easyui/themes/bootstrap/easyui.css" th:href="@{/webjars/js/jquery-easyui/themes/bootstrap/easyui.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-easyui-extension/icons.css" th:href="@{/webjars/js/jquery-easyui-extension/icons.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/style/extEasyUIIcon.css" th:href="@{/webjars/style/extEasyUIIcon.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/nice-validator/jquery.validator.css" th:href="@{/webjars/js/nice-validator/jquery.validator.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/css/commons.css" th:href="@{/webjars/css/commons.css}"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/viewer/css/viewer.min.css" th:href="@{/webjars/js/viewer/css/viewer.min.css}"/>
	<!-- jquery -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.min.js" th:src="@{/webjars/js/jquery.min.js}"></script>
	<!-- jqueryui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-ui/js/jquery-ui.custom.js" th:src="@{/webjars/js/jquery-ui/js/jquery-ui.custom.js}"></script>
	<!-- easyui -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/jquery.easyui.min.js" th:src="@{/webjars/js/jquery-easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/locale/easyui-lang-zh_CN.js" th:src="@{/webjars/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui/plugins/jquery.layout.js" th:src="@{/webjars/js/jquery-easyui/plugins/jquery.layout.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/extEasyUI.js" th:src="@{/webjars/js/extEasyUI.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery-easyui-datagridview/datagrid-groupview.js" th:src="@{/webjars/js/jquery-easyui-datagridview/datagrid-groupview.js}"></script>
	<!-- other -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/datepicker/WdatePicker.js" th:src="@{/webjars/js/extEasyUI.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/jquery.form.js" th:src="@{/webjars/js/extEasyUI.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/jquery.validator.js" th:src="@{/webjars/js/extEasyUI.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/nice-validator/local/zh-CN.js" th:src="@{/webjars/js/extEasyUI.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/viewer/js/viewer-jquery.min.js" th:src="@{/webjars/js/viewer/js/viewer-jquery.min.js}"></script><!-- viewer -->
	<!-- customize -->
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/commons.js" th:src="@{/webjars/js/commons.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../webjars/js/components.js" th:src="@{/webjars/js/components.js}"></script>
	<!-- th:inline -->
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var _contextPath = /*[[@{/}]]*/'';
	/*]]>*/
	</script>
</head>

<div th:fragment="file_insert">
	<link rel="stylesheet" type="text/css" href="../../webjars/js/jquery-filestyle/jquery-filestyle.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/webuploader/webuploader.css"/>
	<link rel="stylesheet" type="text/css" href="../../webjars/js/webuploader/uploadFile.css"/>
	
	<script type="text/javascript" charset="utf-8" src="${pageContext.request.contextPath}/js/jquery-filestyle/jquery-filestyle.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="${pageContext.request.contextPath}/js/webuploader/webuploader.js"></script>
	<script type="text/javascript" charset="utf-8" src="${pageContext.request.contextPath}/js/uploadcomponents.js?version=1"></script>
</div>